@model AssociationBids.Portal.Model.StaffDirectoryModel
@{
    ViewBag.Title = "AStaffDirectoryEditGroup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AStaffDirectoryEditGroup</h2>

<!-- app-content-->
<div class="app-content  my-3 my-md-5">
    <div class="side-app">
        <!-- page-header -->
        <div class="page-header">
            <ol class="breadcrumb">
                <!-- breadcrumb -->
                <li class="breadcrumb-item"><a href="staffdirectory.html">Staff Directory</a></li>
                <li class="breadcrumb-item"><a href="view-staffdirectory.html">Staff Directory Detail</a></li>
                <li class="breadcrumb-item active" aria-current="page">Edit Groups</li>
            </ol><!-- End breadcrumb -->
        </div>
        @using (Html.BeginForm("AStaffDirectoryEditGroup", "AStaffDirectory", FormMethod.Post))
        {
            <!-- End page-header -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="custom-controls-stacked">
                                                            <div id="divid"></div>
                                                            @Html.HiddenFor(model => model.ResourceKey)
                                                            @Html.HiddenFor(model => model.GroupResponseId)
                                                            @Html.HiddenFor(model => model.GroupId)
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="custom-controls-stacked">

                                                        </div>
                                                    </div>
                                                </div>

                                            </div><!-- end of row -->

                                        </div><!--end of card body -->
                                    </div>
                                </div>
                            </div>
                        </div><!--end of card body -->
                        <div class="card-footer">
                            <div class="button-row d-flex">
                                <a href="@Request.UrlReferrer" class="btn btn-default" title="Cancel">Cancel</a>
                                <button class="btn btn-sm btn-primary ml-auto" type="submit" title="Update"><i class="fa fa-check-circle-o "></i> Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div><!--End side app-->
    <!--footer-->
    <footer class="footer">
        <div class="container">
            <div class="row align-items-center flex-row-reverse">
                <div class="col-lg-12 col-sm-12   text-center">
                    Copyright © 2020 Association Bids. All rights reserved.
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer-->

</div>
<!-- End app-content-->
<script src="~/Content/themes/assets/js/vendors/jquery-3.2.1.min.js"></script>

<script type="text/javascript">
$(document).ready(function ()
{
    $("#AStaff").closest('li').addClass('active');
    $("#AStaff1").addClass('active');
        $('#loader').show();
        //$('.errormessage').html('');
        //$('#Error').hide();

        $('#loader').hide();
        LoadSortTableFill();
    });

    function LoadSortTableFill() {

        $.ajax({
            url: '@Url.Action("GetAllGroup", "StaffDirectory")',
            cache: false,
            data: {
            },
            success: function (response)
            {
            for (var i = 0; i < response.length; i++) {
            addCheckbox(response[i].GroupName);
            }
            }
            });
            }

    function addCheckbox(name) {

        var container = $('#divid');
        var inputs = container.find('input');
        var id = inputs.length + 1;

        var Groupid = $("#GroupResponseId").val();

        var GroupKey = Groupid.substring(0, Groupid.length - 1);
        var array = [];
        var array = GroupKey.split(',');

        var i = 0;
        var ij = id;

        for (i; i < array.length; i++) {
            if (ij == id) {
                if (array[i] == id) {
                    $('<input />', { type: 'checkbox', id: id, value: name, name: 'chkListItem', 'class': 'chkListItem', checked: "true" }).appendTo(container);
                    $('<label />', { 'for': id, text: name }).appendTo(container);
                    $('</br>').appendTo(container);
                    ij++;
                }
                else if (i == array.length - 1) {
                    $('<input />', { type: 'checkbox', id: id, value: name, name: 'chkListItem', 'class': 'chkListItem' }).appendTo(container);
                    $('<label />', { 'for': id, text: name }).appendTo(container);
                    $('</br>').appendTo(container);
                    ij++;
                }
            }
            else if (ij < id) {
                $('<input />', { type: 'checkbox', id: id, value: name, name: 'chkListItem', 'class': 'chkListItem' }).appendTo(container);
                $('<label />', { 'for': id, text: name }).appendTo(container);
                $('</br>').appendTo(container);
                ij++;
            }
        }
    }
</script>

