@model AssociationBids.Portal.Model.StaffDirectoryModel
@using AssociationBids.Portal.Common
@{
    ViewBag.Title = "AStaffDirectoryView";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Errormessage = Convert.ToString(TempData["ErrorMessage"]);
    string SuccessMessage = Convert.ToString(TempData["SuccessMessage"]);
}
<h2>StaffDirectoryView</h2>
<script src="~/Content/themes/assets/js/vendors/jquery-3.2.1.min.js"></script>
<!-- app-content-->
<div class="app-content  my-3 my-md-5">
    <div class="side-app">
        <!-- page-header -->
        <div class="page-header">
            <ol class="breadcrumb">
                <!-- breadcrumb -->
                <li class="breadcrumb-item">  @Html.ActionLink("Management Companies", "ACompanylist", "ACompanyManagement", new { })</li>
                <li class="breadcrumb-item">@Html.ActionLink("Management Company Detail", "companydefaultView", "ACompanyManagement", new { @CompanyKey = Convert.ToString(Session["ViewCompanyFromList"]) }, new { })</li>
                <li class="breadcrumb-item active" aria-current="page">Staff Details</li>
            </ol><!-- End breadcrumb -->

        </div>
        <div class="alert alert-success" id="Error" style="display:block; margin-top: 20px;">
            <strong><span class="errormessage"></span></strong>
        </div>
        @if (!string.IsNullOrEmpty(Errormessage))
        {
        <p class="alert alert-success alert-dismissible">
            @Errormessage
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        </p>
        }
        @if (!string.IsNullOrEmpty(SuccessMessage))
        {
        <p class="alert alert-success alert-dismissible">
            @SuccessMessage
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        </p>
        }
        <!-- End page-header -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="form-div">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="card-title">Staff Detail</h3>
                                            <div class="card-options">
                                                <a onclick=" EditStaffPage();" id="StaffEdit" class="btn btn-sm btn-primary pull-right" title="Edit"><i class="fa fa-pencil"></i> Edit</a>
                                                <a style="margin-left: 10px;" href="#" class="card-options-collapse mr-2" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                            </div>
                                        </div>
                                        <div class="card-body border-top">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="form-label">First Name</label>
                                                        @Html.DisplayFor(model => model.FirstName)
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="form-label">Last Name</label>
                                                        @Html.DisplayFor(model => model.LastName)
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="form-label">Email</label>
                                                        @Html.DisplayFor(model => model.Email)
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="form-label">Secondary Email</label>
                                                        @Html.DisplayFor(model => model.Email2)
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="form-label">Work Phone 1</label>
                                                        <p>@Utility.FormatPhoneNumberHelper(Model.Work)</p>@*@Html.DisplayFor(model => model.Work)*@
                                                    </div>
                                                </div><!-- end of col -->
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="form-label">Work Phone 2</label>
                                                        <p>@Utility.FormatPhoneNumberHelper(Model.Work2)</p>@*@Html.DisplayFor(model => model.Work2)*@
                                                    </div>
                                                </div><!-- end of col -->
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="form-label">Cell Phone</label>
                                                        <p>@Utility.FormatPhoneNumberHelper(Model.CellPhone)</p>@*@Html.DisplayFor(model => model.CellPhone)*@
                                                    </div>
                                                </div><!-- end of col -->
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="form-label">Fax</label>
                                                        <p>@Utility.FormatPhoneNumberHelper(Model.Fax)</p>@*@Html.DisplayFor(model => model.Fax)*@
                                                    </div>
                                                </div><!-- end of col -->
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="form-label">Is Primary Contact</label>
                                                        @*<label class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" checked name="example-checkbox2" value="option2">
                                                            <span class="custom-control-label">Primary Contact</span>
                                                        </label>*@
                                                        @if (Model.PrimaryContact == false)
                                                        {
                                                        //@Html.CheckBoxFor(model => model.PrimaryContact, new { @class = "custom-control-input", @tabindex = "1" })
                                                        //@Html.LabelFor(model => model.PrimaryContact, new { @class = "custom-control-label" })
                                                        <label class="form-label">False</label>
                                                        }
                                                        @if (Model.PrimaryContact == true)
                                                        {
                                                        <label class="form-label">True</label>
                                                        }
                                                    </div>
                                                </div><!-- end of col -->
                                            </div>
                                            <hr />
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="form-label">Address 1</label>
                                                        @Html.DisplayFor(model => model.Address)
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="form-label">Address 2</label>
                                                        @Html.DisplayFor(model => model.Address2)
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="form-label">City</label>
                                                        @Html.DisplayFor(model => model.City)
                                                    </div>
                                                </div><!-- end of col -->
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="form-label">State</label>
                                                        @Html.DisplayFor(model => model.State)
                                                    </div>
                                                </div><!-- end of col -->
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="form-label">Zip</label>
                                                        @Html.DisplayFor(model => model.Zip)
                                                    </div>
                                                </div><!-- end of col -->
                                            </div>
                                            <hr />
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="form-label">Description</label>
                                                        <p id="Description"></p>
                                                    </div>
                                                </div><!-- end of col -->
                                            </div><!-- end of row -->
                                        </div><!--end of card body -->
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="card-title">Groups</h3>
                                            <div class="card-options">
                                                <a onclick=" EditGroupPage();" id="GroupEdit" class="btn btn-sm btn-primary pull-right" title="Edit"><i class="fa fa-pencil"></i> Edit</a>
                                                <a style="margin-left: 10px;" href="#" class="card-options-collapse mr-2" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                            </div>
                                        </div>
                                        <div class="card-body border-top">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="custom-controls-stacked">
                                                            <div id="divid"></div>
                                                            @Html.HiddenFor(model => model.ResourceKey)
                                                            @Html.HiddenFor(model => model.GroupResponseId)
                                                            @Html.HiddenFor(model => model.GroupId)
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="custom-controls-stacked">

                                                        </div>
                                                    </div>
                                                </div>

                                            </div><!-- end of row -->
                                        </div><!--end of card body -->
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="card-title">User Account</h3>
                                            <div class="card-options">
                                                <a onclick=" EditUserPage();" id="UserEdit" class="btn btn-sm btn-primary pull-right" title="Edit" style="display:none;"><i class="fa fa-pencil"></i> Edit</a>
                                                <a style="margin-left: 10px;" href="#" class="card-options-collapse mr-2" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                            </div>
                                        </div>
                                        <div class="card-body border-top">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="form-label">Username</label>
                                                        @Html.DisplayFor(model => model.UserName)
                                                        @Html.HiddenFor(model => model.ResourceKey)
                                                        @Html.HiddenFor(model => model.UserKey)
                                                        @Html.HiddenFor(model => model.GroupResponseId)
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="form-label">Password</label>
                                                        <button class="btn btn-sm btn-primary ml-auto" id="btnResetPassword" type="submit" title="ResetPassword"> Reset Password</button>
                                                    </div>
                                                </div>
                                            </div><!-- end of row -->
                                        </div><!--end of card body -->
                                    </div>
                                </div>
                            </div>
                        </div><!-- end of form-div  -->
                    </div><!--end of card body -->
                </div>
            </div>
        </div>
    </div><!--End side app-->
    <!--footer-->
    <footer class="footer">
        <div class="container">
            <div class="row align-items-center flex-row-reverse">
                <div class="col-lg-12 col-sm-12   text-center">
                    Copyright © 2020 Association Bids. All rights reserved.
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer-->
</div>
<!-- End app-content-->
<script type="text/javascript">

    $(document).ready(function ()
    {
        var Description = '@Model.Description';
        var Descriptions = Description.replace(/&lt;br&gt;/g, "<br/>");
        $('#Description').html(Descriptions);

        $('#loader').show();
        $('.errormessage').html('');
        $('#Error').hide();

        $('#loader').hide();

        document.getElementById("UserEdit").style.color = "White";
        document.getElementById("GroupEdit").style.color = "White";
        document.getElementById("StaffEdit").style.color = "White";
        LoadSortTableFill();
    });

   function LoadSortTableFill() {

        $.ajax({
            url: '@Url.Action("GetAllGroup", "StaffDirectory")',
            cache: false,
            success: function (response)
            {
                for (var i = 0; i < response.length; i++) {
                    addCheckbox(response[i].GroupName);
                }
            }
        });
    }

    function addCheckbox(name) {

        var container = $('#divid');
        var inputs = container.find('input');
        var id = inputs.length + 1;
        if (id == "2") {
            id = 3;
        }
        var Groupid = $("#GroupResponseId").val();

        var GroupKey = Groupid.substring(0, Groupid.length - 1);
        var array = [];
        var array = GroupKey.split(',');

        var i = 0;
        var ij = id;
        for (i; i < array.length; i++) {
            if (ij == id) {
                if (array[i] == id) {
                    $('<input />', { type: 'checkbox', id: id, value: name, name: 'chkListItem', 'class': 'chkListItem', checked: "true", disabled: 'disabled' }).appendTo(container);
                    $('<label />', { 'for': id, text: name }).appendTo(container);
                    $('</br>').appendTo(container);
                    ij++;
                }
                else if (i == array.length - 1) {
                    $('<input />', { type: 'checkbox', id: id, value: name, name: 'chkListItem', 'class': 'chkListItem', disabled: 'disabled', style: 'display:none;' }).appendTo(container);
                    $('<label />', { 'for': id, text: name, style: 'display:none; Position:absolute;' }).appendTo(container);

                    ij++;
                }
            }
            else if (ij < id) {
                $('<input />', { type: 'Radio', id: id, value: name, name: 'chkListItem', 'class': 'chkListItem', disabled: 'disabled', style: 'display:none;' }).appendTo(container);
                $('<label />', { 'for': id, text: name, style: 'display:none;' }).appendTo(container);

                ij++;
            }
        }
        //$('.'+id).find('input').addClass('custom-control-input');
    }
    function EditStaffPage()
    {
        window.location.href = 'AStaffDirectoryEditStaff?ResourceKey=' + $("#ResourceKey").val();
    }
    function EditGroupPage() {
        window.location.href = 'AStaffDirectoryEditGroup?ResourceKey=' + $("#ResourceKey").val();
    }
    function EditUserPage() {
        window.location.href = 'AStaffDirectoryEditUser?ResourceKey=' + $("#ResourceKey").val();
    }

    $("#btnResetPassword").click(function () {
        //alert("");
        $("#global-loader").show();
        $.ajax({
            url: '@Url.Action("ResetPassword", "ACompanyManagement")',
            cache: false,
           data: {
               ResourceKey: $("#UserKey").val(),
           },
            success: function (response)
            {
                debugger;
                $('.errormessage').html('Reset password link has been sent on your registered Email Address.');
                $("#global-loader").hide();
                if (response.toString().indexOf('Exception') >= 0) {
                    $('.errormessage').html(response);
                }
                $('#Error').show();
                $(window).scrollTop(0);
            },
            Error: function (res) {
                $("#global-loader").hide();
            }
        });
    });

</script>