@model AssociationBids.Portal.Model.BidVendorModel
@{
    ViewBag.Title = "ViewBidrequest";
    Layout = "~/Views/Shared/_VendorLayout.cshtml";
}
<script src="~/Content/themes/assets/js/vendors/jquery-3.2.1.min.js"></script>
<script src="~/JSControllers/VenderBidReq.js"></script>
<script src="~/JSControllers/LayOutMaster.js"></script>
<script>
       $(document).ready(function () {
           //debugger;
           $("#AcceptByVender").hide();
           $("#DeclineByVender").hide();
           $("#CancelByVender").hide();
           $("#divafterdue").hide();
           $("#global-loader").show();
           $("#divbtns").hide();
           $("#divdanger").hide();
           $("#divalert").hide();

           LoadSortTableFill();
           bindDocument2();
           LoadDocFile();
           $(".popback").hide();

           $("#BidRe").closest('li').addClass('active');
           $("#BidRe1").addClass('active');
           //$("#global-loader").hide();
       });
    function LoadMessages(msgstatus,isnoti,Bidid) {
        if ($("#HdnStatus").val() === 'Interested' || $("#HdnStatus").val() === 'Submitted') {
            $("#ViewBidrequest").hide();
        }
        LoadMessagesList(msgstatus);
        //debugger;
        if (isnoti == 'true' && Bidid > 1) {
            notificationClick(Bidid, 'BidReqMsg');
        }
    }

    function BidDetails(msgstatus) {
        $("#ViewBidrequest").show();
    }

    function download(src) {

        var strWindowFeatures = "location=yes,height=570,width=520,scrollbars=yes,status=yes";
        window.open(src, "_blank", strWindowFeatures);
    }

    function myclick() {

        $(".popback").hide();


    }

    function calltoDateExtend() {
        //$(".tabs-menu1 a[href='#message']").tab('show');
        debugger;
        //$("#txtMessageBody").focus();
        $("#global-loader").show();
        $("#SuccessMsg").html('');
        $("#SuccessMsg").hide();
        $("#divsucces").hide();
        $('.loader-wrapper').show();
        var bodytext = "Bid due date extension request recieved from";
        var bkey = $('#HdnBidReqKey').val();
        debugger;
        var BidName = $("#Brtitle").html();
        var ManagerName = $("#BrContName").html();
        var ManagerCompanyName = $("#BrContCompany").html();
        var ManagerEmail = $("#BrContEmail").html();
        var BidRequestKey = $('#HdnBidReqKey').val();

        $.ajax({
            url: '../VenderBidrequest/DateExtension',        
            cache: false,
            type: "POST",
            dataType: "JSON",
            data: {
                BidName: BidName,
                ManagerName: ManagerName,
                ManagerCompanyName: ManagerCompanyName,
                ManagerEmail: ManagerEmail,
                BidRequestKey: BidRequestKey,
                Body: bodytext, Status: 'New', ObjectKey: $("#HdnObjectKey").val(), ResourceKey: $("#HdnLoginResourceKey").val(), ModuleKeyName: $("#HdnModuleKeyNameMsg").val(), Title: $("#HdnTitle").val(), VendorEmail: $("#HdnVendorEmail").val(), BidRequestKey: bkey, BidVendorKey: $("#HdnObjectKey").val()

            },
            success: function (result) {
                debugger;
                if (result == true) {
                    $("#SuccessMsg").html("Date Extension Request Sent Successfully.");
                    $("#divsucces").show();
                    $("#SuccessMsg").show();
                    $("#global-loader").hide();
                    $('.loader-wrapper').hide();
                }

                    
                else {
                    $("#divalert").show();
                    $("#ErrorMsg").html('Extension Bid Due Date Request already send');
                    $("#global-loader").hide();
                    $('.loader-wrapper').hide();

                }

            }
        });
    };
    function SendMessageNoti(date) {
        debugger;

        $("#global-loader").show();
        $('.loader-wrapper').show();
        var bodytext = "Bid due date extension request recieved from";
        var bkey = $('#HdnBidReqKey').val();
        if (bodytext !== '') {
            debugger;
            $.ajax({
                url: '../VenderBidrequest/SendInsertMessageNoti',
                async: true,
                cache: false,
                type: "POST",
                dataType: "JSON",
                data: {
                    Body: bodytext, Status: 'New', ObjectKey: $("#HdnObjectKey").val(), ResourceKey: $("#HdnLoginResourceKey").val(), ModuleKeyName: $("#HdnModuleKeyNameMsg").val(), Title: $("#HdnTitle").val(), VendorEmail: $("#HdnVendorEmail").val(), dateadded: date, BidRequestKey: bkey, BidVendorKey: $("#HdnObjectKey").val()
                },
                success: function (result) {
                   
                    $("#SuccessMsg").html("Date Extension Request Sent Successfully.");
                    $("#divsucces").show();
                    $("#SuccessMsg").show();
                    $("#global-loader").hide();
                    $('.loader-wrapper').hide();
                }
            });
        }
    }

    function LoadSortTableFill() {
        debugger;
        $("#global-loader").show();
        $.ajax({
            url: '@Url.Action("GetVenderBidRequestListJson", "VenderBidrequest")',
            cache: false,
            data: {
                PageSize: 1,
                PageIndex: 1,
                Search: '',
                Sort: 'order by Title desc',
                BidVendorKey: $("#HdnObjectKey").val(),
                BidRequestStatus: 0,
                BiddueDateFrom: '',
                BiddueDateTo: '',
                ModuleController: $("#ModuleControllerhdn").val(),
            },
            success: function (response) {
                debugger;

                response = JSON.parse(response);
                //alert(response[0].BidRequestKey);

                $("#HdnBidRequestKey").val(response[0].BidRequestKey);
                //alert($("#HdnBidRequestKey").val());

                $("#HdnStatus").val(response[0].Statuslookup);
                $("#HdnLoginResourceKey").val(response[0].LoginResourceKey);
                //Bid Details
                $("#Brservicename").html(response[0].Service);
                $("#Brtitle").html(response[0].Title);
                var Description = response[0].Description;
                //alert(Description);
                if (Description != "" && Description != null) {
                    var descripv = Description.replace(/\n/g, "<br />");
                }
                //var Descriptions = Description.replace(/&lt;br&gt;/g, "<br/>");
                //alert(Descriptions);
                //$('#Description').html(Descriptions);
                $("#BrDescription").html(descripv);
                $("#IsAssigned").val(response[0].IsAssigned);

                //$("#BrResponseDate").html((response[0].DefaultRespondByDate));
                $("#BrResponseDate").html((response[0].VendorResponseDueDate));
                $("#BrBidDueDate").html((response[0].VendorBidDueDate));
                //Property Details
                $("#BrCompanyName").html(response[0].CompanyName);
                $("#BrPropertyName").html(response[0].Property);
                $("#BrNoofUnit").html(formatNumber(response[0].NumberOfUnits,false));
                $("#BrAddress1").html(response[0].Address);
                $("#BrAddress2").html(response[0].Address2);
                $("#BrCity").html(response[0].City);
                $("#BrState").html(response[0].State);
                $("#BrZip").html(response[0].Zip);

                $("#BrContCompany").html(response[0].CompanyName);
                var a = "";
                a = response[0].WorkNumber;

                if (a === null || a === "" || a === "null") {

                }

                else {
                    $("#BrContPhone").html(formatPhoneNumber(response[0].WorkNumber));
                }


                $("#BrContName").html(response[0].ContactName);
                $("#BrContEmail").html(response[0].Email);

                UpdateButtonDisplay(response[0].isExpired.toLowerCase());
                if (response[0].isExpired.toLowerCase() == 'true' && response[0].Statuslookup != 'Submitted') {
                    $("#divbtns").hide();
                    $("#divdanger").show();
                    $("#divafterDue").show();
                    document.getElementById("ViewBidrequest").style.display = "block";
                    $("#errorText").html("Bid Response Due Date has expired");
                }

                else {

                    $("#divdanger").hide();
                    document.getElementById("ViewBidrequest").style.display = "block";
                    $("#divbtns").show();
                    $("#errorText").html('');
                }



                //debugger;
                var isloaded = true;
                var msgcount = 0;
                if (response[0].Statuslookup === 'Interested' || response[0].Statuslookup === 'Submitted') {
                    $("#divbtns").hide();
                    $("#divafterDue").hide();
                    $("#divdanger").hide();
                    isloaded = false;
                    if (response[0].NotificationType != null) {
                        var notitype = response[0].NotificationType.split(',');

                        for (var k = 0; k < notitype.length; k++) {
                            if (notitype[k] == 'BidReqMsg')
                                msgcount++;
                        }
                        //debugger;
                    }



                    $.when(LoadSubmitBit($("#HdnObjectKey").val(), $("#HdnLoginResourceKey").val(), response[0].StartDate, $("#HdnObjectImg").val())).then(function () {
                        document.getElementById("ViewBidrequest").style.display = "block";
                        //debugger;
                            if (msgcount > 0) {
                                $("#MsgTab").append(' <span class="badge badge-primary">' + msgcount + '</span>');
                                $("#MsgTab").attr('onclick', 'return LoadMessages("1","true",' + response[0].BidRequestKey + ');');
                            }

                        isloaded = true;
                    });
                }

                    LoadMessagesList('0');

                //$("#Brtitle").html((response[i].Title));
                $("#global-loader").hide();


                if (response[0].NotificationType != null && isloaded) {
                    var notitype = response[0].NotificationType.split(',');
                    var msgcount = 0;
                    for (var k = 0; k < notitype.length; k++) {
                        if (notitype[k] == 'BidReqMsg')
                            msgcount++;
                    }
                    //debugger;
                    if (msgcount > 0) {
                        $("#MsgTab").append(' <span class="badge badge-primary">' + msgcount + '</span>');
                        $("#MsgTab").attr('onclick', 'return LoadMessages("1","true",' + response[0].BidRequestKey + ');');
                    }
                }

                $(".loader-wrapper").hide();

            },
            error: function () {
                $("#global-loader").hide();
            }
        });
    }
      function LoadDocFile()
      {
          $("#RowDocBind table tbody tr:eq(0)").hide();
        $.ajax({
            url: '@Url.Action("GetVenderBidRequestDocumentListJson", "VenderBidrequest")',
            cache: false,
            data: {
                PageSize: 100,
                PageIndex: 1,
                Search:'',
                Sort: 'order by Filename desc',
                BidVendorKey: $("#HdnObjectKey").val(),
                TableName: $("#HdnModuleKeyNameDoc").val(),
            },
            success: function (response) {
                //debugger;
                response = JSON.parse(response);
                if (parseInt(response.length) > 0) {

                    $("#RowimgBind div.table123:not(:first)").remove();
                    $("#RowimgBind div.table123:eq(0)").show();

                    $("#RowDocBind table tbody tr:not(:first)").remove();
                    //$("#RowDocBind table tbody tr:eq(0)").show();
                    for (var i = 0; i < response.length; i++) {
                        //debugger;
                        var extension = response[i].FileName.substr((response[i].FileName.lastIndexOf('.') + 1));

                        var table = $("#RowDocBind table tbody tr:eq(0)").clone(true);
                        //$("#docname", table).html(response[i].FileName);

                        //debugger;

                        $("#docname", table).html(response[i].FileName1);
                        $("#docname", table).attr('href', "../Document/Properties/" + response[i].FileName);
                        $("#docname", table).attr('onclick', "download('../Document/Properties/" + response[i].FileName + "')");
                        //$("#docname", table).attr('onclick', "ViewDoc(" + response[i].DocumentKey + "," + response[i].ObjectKey + ",'" + response[i].FileName + "')");
                        $("#RowDocBind table").append(table);
                        table.show();
                        if (extension === 'jpg' || extension === 'png' || extension === 'gif') {
                            var table1 = $("#RowimgBind div.table123:eq(0)").clone(true);
                            $("#docname", table1).html(response[i].FileName);
                            $("#docimgurl", table1).attr('src', "../Document/Properties/" + response[i].FileName);
                            $("#docimgurl", table1).attr('onclick', "viewimage('../Document/Properties/" + response[i].FileName + "')");
                            $("#RowimgBind").append(table1);
                            table1.show();
                        }

                    }

                }

                $("#RowimgBind div.table123:eq(0)").hide();
                $("#RowDocBind table tbody tr:eq(0)").hide();
                $(".loader-wrapper").hide();
            }
        });
    }
    function ViewDoc(DocumentKey, ObjectKey, FileName) {
        window.location.href = '../Document/Properties/'+FileName;
    }
    function LoadSubmitBit(BidVendorKey, ResourceKey, BidStartDate) {
        //debugger;
        $("#global-loader").show();
        $("#ViewBidrequestMoreClone").html("");
        var pageurl = '../VenderBidrequest/ViewBidrequestMoreClone';
        var mycoc = $("#ViewBidrequestMoreClone");
        mycoc.show();
        $(".Clonehide").hide();
        mycoc.load(pageurl,
            {
                BidVendorKey: BidVendorKey,
                ResourceKey: ResourceKey,
                BidStartDate: BidStartDate,
            },

            function (data) {
                //debugger;
                $("#divbtns").hide();
                $(".Clonehide").hide();
                if (BidStartDate !== "01/01/1900") {
                   // $("#pdate").html(BidStartDate);
                }
             else if ($("#HdnStatus").val() === 'Interested') {
                    $("#btnSubmitted").show();
                    $("#btnUpdateBid").hide();
                    $("#divbtns").hide();
                    document.getElementById("ViewBidrequest").style.display = "block";
                }
                //$("#btnSubmitted").text("Submit Bid");
              else  if ($("#HdnStatus").val() === 'Submitted') {
                    //$("#btnSubmitted").html($("#btncopy").html()+"Update");
                    $("#btnSubmitted").hide();
                    $("#btnUpdateBid").show();
                    $("#divbtns").hide();
                    document.getElementById("ViewBidrequest").style.display = "block";
                }
                else {

                    document.getElementById("ViewBidrequest").style.display = "block";
                }
                $("#divafterdue").hide();
            });
    }
    function notificationClick(nid, type) {
        //debugger;
        $.ajax({
            url: '/ABNotification/NotificationUpdate',
            cache: false,
            data: {
                NotiId: nid,
                Status: 'read',
                NotiType: type,
                ByObj: true
            },
            success: function (response) {
                //debugger;
                if (response == 'true' || response == true) {
                    $("#MsgTab span").animate({ height: '0px', width: '0px', opacity: '0' }, 2000, function () {
                        $("#MsgTab span").remove()
                    });
                    $(".header-notify").load('@Url.Action("Notification","ABNotification")');
                }
            }
        });
    }
</script>


<!--sidemenu end-->
<!-- app-content-->
<div class="app-content  my-3 my-md-5">
    <div class="side-app">
        <!--page-header-->
        <div id="divalert" class="alert alert-warning" role="alert" style="display:none;">
            <span class="alert-inner--icon"><i class="fa fa-bell faa-ring animated"></i></span>
            <span id="ErrorMsg" class="alert-inner--text"><strong></strong> </span>
        </div>
        <div id="divdanger" class="alert alert-danger" role="alert" style="display:none;">
            <span class="alert-inner--icon"><i class="fa fa-exclamation-triangle faa-ring animated"></i></span>
            <span id="errorText" class="alert-inner--text"><strong></strong> </span>
        </div>
        <div id="divsucces" class="alert alert-success" role="alert" style="display:none;">
            <a href="#" style="color:#316100">
                <i class="fa fa-gavel faa-ring animated mr-2" aria-hidden="true"></i>
                <span id="SuccessMsg" class="alert-inner--text"><strong></strong> </span>
            </a>
        </div>
        <div class="page-header">
            <ol class="breadcrumb">
                <!-- breadcrumb -->
                <li class="breadcrumb-item"><a href="~/VenderBidrequest/BidRequests">Bid Requests</a></li>
                <li class="breadcrumb-item active" aria-current="page">Bid Request Details</li>
            </ol>
            <!-- End breadcrumb -->
        </div>
        <div id="ViewBidrequestMoreClone"></div>

        <!-- End page-header -->
        <div id="ViewBidrequest" class="row" style="display:none;">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 pull-right text-right" id="divbtns" style="display:none;">
                                @*data-target="#acceptbidrequest"*@
                                <input id="HdnStatus" type="hidden" value="">
                                <input id="HdnBidRequestKey" type="hidden" value="">
                                @**@
                                <input type="hidden" id="ModuleControllerhdn" value="BidRequest" />

                                <a id="AcceptByVender" data-target="#acceptbidrequest" data-toggle="modal" href="#" onclick="return OpenPopup('AcceptByVender');" class="btn btn-primary Clonehide"><i class="fa fa-check-square "></i> Accept Bid Request</a>
                                <a id="DeclineByVender" data-target="#acceptbidrequest" data-toggle="modal" href="#" onclick="return OpenPopup('DeclineByVender');" class="btn btn-danger Clonehide"><i class="fa fa-times-circle "></i> Decline</a>
                                @*<a id="CancelByVender" data-target="#acceptbidrequest" data-toggle="modal" href="#" onclick="return OpenPopup('CancelByVender');" class="btn btn-default Clonehide"><i class="fa fa-times-circle "></i> Cancel</a>*@
                                <a id="CancelByVender" href="../VenderBidrequest/BidRequests" class="btn btn-default Clonehide"><i class="fa fa-times-circle "></i> Back</a>

                            </div>
                            <div class="col-md-12 pull-right text-right" id="divafterDue" style="display:none;">
                                <a id="btnclosebidafterDue" href="#" class="btn btn-danger" onclick="callttoClose()"><i class="fa fa-times-circle "></i> Close</a>
                                <a id="btndateExtend" href="#" class="btn btn-success" onclick="calltoDateExtend()"><i class="fa fa-check-circle "></i> Request Date Extension</a>
                            </div>
                        </div>
                        <hr />
                        <div class="form-div">
                            <div class="tabs-menu1 ">
                                <!-- Tabs -->
                                <ul class="nav panel-tabs">
                                    <li class=""><a href="#biddetails" class="active" data-toggle="tab" onclick="return BidDetails('1');">Bid Details</a></li>
                                    <li class="Clonehide"><a href="#message" id="MsgTab" data-toggle="tab" onclick="return LoadMessages('1');" style="position:relative;">Message </a></li>
                                </ul>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane active " id="biddetails">

                                    <div class="row">
                                        <div class="col-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h3 class="card-title">Bid Details</h3>
                                                    <div class="card-options">
                                                        <a href="#" class="card-options-collapse mr-2" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                                    </div>
                                                </div>
                                                <div class="card-body border-top">
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label class="form-label">Service:</label>
                                                                <p id="Brservicename"></p>
                                                            </div>
                                                        </div><!-- end of col -->
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label class="form-label">Title:</label>
                                                                <p id="Brtitle"></p>
                                                            </div>
                                                        </div><!-- end of col -->
                                                        <div class="col-md-3 ">
                                                            <div class="form-group">
                                                                <label class="form-label">Response Date:</label>
                                                                <h3 id="BrResponseDate" class="mb-3 font-weight-semibold"></h3>
                                                            </div>
                                                        </div><!-- end of col -->
                                                        <div class="col-md-3 ">
                                                            <div class="form-group">
                                                                <label class="form-label">Bid Due Date:</label>
                                                                <h3 id="BrBidDueDate" class="mb-3 font-weight-semibold"></h3>
                                                            </div>
                                                        </div><!-- end of col -->
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="form-label">Description:</label>
                                                                <p id="BrDescription"> </p>
                                                            </div>
                                                        </div><!-- end of col -->
                                                    </div><!-- end of row -->
                                                </div><!--end of card body -->
                                            </div><!--end of card -->
                                        </div><!--end of col -->
                                    </div>
                                    <!--end of row -->
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h3 class="card-title">Photos</h3>

                                                    <div class="popback" style="height:auto;width:70%; background-color:whitesmoke;position:absolute;top:50px; left:170px; z-index:100;padding-bottom: 31px; display:none;">
                                                        <button type="button" class="btn btn-md btn-danger closepop pull-right" style=" font-size:10px;" onclick="myclick()" id="btnclose">&times;</button>

                                                        <div id="image"></div>

                                                    </div>
                                                </div>
                                                <div class="card-body border-top">

                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="row">
                                                                @foreach (var images in ViewBag.img)
                                                                {

                                                                    if (images == null)

                                                                    {

                                                                    }
                                                                    else
                                                                    {
                                                                        <a target="_blank" href="@Url.Content(images)" class="" style="cursor: pointer;text-decoration:none;">


                                                                            <img src="@Url.Content(images)" alt="Hejsan" style="width:200px; padding-top:26px; padding-left:26px; cursor:pointer;" />

                                                                        </a>

                                                                    }
                                                                }
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>

                                                @*<div class="card-options">
                        <a href="#" class="card-options-collapse mr-2" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                    </div>*@


                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h3 class="card-title">Documents</h3>
                                                    <div class="card-options">
                                                        @*<a href="javascript:void(0);" class="btn btn-sm btn-primary pull-right" title="Upload" data-toggle="modal" data-target="#uploadmodal"><i class="fa fa-upload"></i> Upload</a>*@
                                                        <a style="margin-left: 10px;" href="#" class="card-options-collapse mr-2" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                                    </div>
                                                </div>
                                                <div class="card-body border-top">
                                                    <div class="table-responsive" id="divFileUploader">
                                                        <table id="dataTableExample" class="table table-striped table-bordered w-100 dataTable no-footer">
                                                            <thead>
                                                                <tr>
                                                                    <th> Documents</th>
                                                                    @*<th width="5%"></th>*@
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>

                                                                        <a target="_blank" href="#" class="upd-fl" style="cursor: pointer;text-decoration:none;"></a>

                                                                    </td>
                                                                    @*<td align="center">
                                                                        <a title="Delete" onclick="removeDoc(this);" data-toggle="modal" data-target="#uploadmodaldelete"><i class="fe fe-trash redtxt font18"></i></a>
                                                                    </td>*@
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div><!-- end of table responsive -->
                                                </div><!--end of card body -->
                                            </div>
                                        </div>
                                    </div>
                                    @*<div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Documents</h3>
                        <div class="card-options">
                            <a style="margin-left: 10px;" href="#" class="card-options-collapse mr-2" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                        </div>
                    </div>
                    <div class="card-body border-top">

                        <div class="table-responsive" id="divFileUploadervbr">
                            <table id="dataTableExample5" class="table table-striped table-bordered w-100 dataTable no-footer">
                                <thead>
                                    <tr>
                                        <th> Documents</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>

                                        <td>
                                            <a target="_blank" href="#" class="upd-f1" style="cursor: pointer;text-decoration:none;"></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>*@

                                    <div class="row">
                                        <div class="col-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h3 class="card-title">Property Details</h3>
                                                    <div class="card-options">
                                                        <a href="#" class="card-options-collapse mr-2" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                                    </div>
                                                </div>
                                                <div class="card-body border-top">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label class="form-label">Company:</label>
                                                                <p id="BrCompanyName"></p>
                                                            </div>
                                                        </div><!-- end of col -->
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label class="form-label">Property:</label>
                                                                <p id="BrPropertyName"></p>
                                                            </div>
                                                        </div><!-- end of col -->
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label class="form-label">#No. of Units:</label>
                                                                <p id="BrNoofUnit"></p>
                                                            </div>
                                                        </div><!-- end of col -->

                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label class="form-label">Address 1:</label>
                                                                <p id="BrAddress1"></p>
                                                            </div>
                                                        </div><!-- end of col -->
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label class="form-label">Address 2:</label>
                                                                <p id="BrAddress2"></p>
                                                            </div>
                                                        </div><!-- end of col -->
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label class="form-label">City:</label>
                                                                <p id="BrCity"></p>
                                                            </div>
                                                        </div><!-- end of col -->
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label class="form-label">State:</label>
                                                                <p id="BrState"></p>
                                                            </div>
                                                        </div><!-- end of col -->
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label class="form-label">Zip:</label>
                                                                <p id="BrZip"></p>
                                                            </div>
                                                        </div><!-- end of col -->
                                                    </div><!-- end of row -->


                                                </div><!--end of card body -->
                                            </div><!--end of card -->
                                        </div><!--end of col -->
                                    </div>
                                    <!--end of row -->
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h3 class="card-title">Contact Information</h3>
                                                    <div class="card-options">
                                                        <a href="#" class="card-options-collapse mr-2" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                                    </div>
                                                </div>
                                                <div class="card-body border-top">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label class="form-label">Name:</label>
                                                                <p id="BrContName"></p>
                                                            </div>
                                                        </div><!-- end of col -->
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label class="form-label">Company:</label>
                                                                <p id="BrContCompany"></p>
                                                            </div>
                                                        </div><!-- end of col -->

                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label class="form-label">Phone</label>
                                                                <p id="BrContPhone"></p>
                                                            </div>
                                                        </div><!-- end of col -->

                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label class="form-label">Email:</label>
                                                                <p id="BrContEmail">emailname@gmail.com</p>
                                                            </div>
                                                        </div><!-- end of col -->
                                                    </div><!-- end of row -->


                                                </div><!--end of card body -->
                                            </div><!--end of card -->
                                        </div><!--end of col -->
                                    </div>
                                    <!--end of row -->

                                </div><!-- end of tab -->
                                <div class="tab-pane " id="message">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="card">

                                                <div class="card-body">

                                                    <div class="col-md-12 col-lg-12 col-xl-12  chat">
                                                        <div class="card ">
                                                            <!-- card-footer -->
                                                            @{Html.RenderAction("_SendMessage", "LayOutMaster", new { area = "" });}
                                                            <input id="HdnModuleKeyName" type="hidden" value="BidRequest">
                                                            <input id="HdnModuleKeyNameDoc" type="hidden" value="PMBidRequests">
                                                            <input id="HdnModuleKeyNameMsg" type="hidden" value="BidRequest">
                                                            <input id="HdnTitle" type="hidden" value="Vendor" />
                                                            <input id="HdnVendorEmail" type="hidden" value="">
                                                            <input id="HdnLoginResourceKey" type="hidden" value="">
                                                            <input id="HdnObjectKey" type="hidden" value="@ViewBag.BidVendorKey">
                                                            <input id="hdnstartdate" type="hidden" value="" />
                                                            <input id="IsAssigned" type="hidden" value="" />
                                                            <input id="HdnBidReqKey" type="hidden" value="@ViewBag.bidreqky " />
                                                        </div>
                                                    </div>

                                                </div><!--end of card body -->
                                            </div><!--end of card -->
                                        </div><!--end of col -->
                                    </div><!--end of row -->

                                </div>
                                <!-- end of tab -->
                            </div>
                            <!-- end of tab content -->
                        </div><!-- end of form-div -->
                        <!-- Modal -->
                        <div class="modal fade" id="acceptbidrequest" tabindex="-1" role="dialog" aria-labelledby="acceptbidrequestLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="acceptbidrequestLabel">Accept Bid Request</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-popup">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    @*<div class="content vscroll h-200">
                                                            <p>
                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta, nisl eu ullamcorper imperdiet, arcu eros ultricies nulla, quis facilisis quam ex sed dui. Pellentesque vulputate dolor ut leo luctus cursus. Nullam ultrices fermentum aliquam. Donec vestibulum nulla eu orci viverra, a hendrerit tortor pellentesque. Sed bibendum dapibus sapien ac fringilla. In semper quam vel convallis efficitur. Ut fringilla, risus eu consectetur euismod, arcu ante elementum nisl, sed dapibus ante lacus nec ex. Integer ullamcorper nisi vitae justo rhoncus ultricies.
                                                            </p>
                                                        </div>
                                                        <hr />*@
                                                    <div class="custom-controls-stacked">
                                                        @*<label class="custom-control">
                                                            <input type="checkbox" class="custom-control-input" name="example-checkbox1" value="option1">
                                                            <span id="popupmsg" class="custom-control-label">Accept</span>
                                                            </label>*@
                                                        <h5 id="popupmsg" class="modal-title" style="color:black !important;">Accept Bid Request</h5>
                                                    </div>
                                                </div><!-- end of col -->
                                            </div>
                                        </div><!-- end of form-popup -->
                                    </div><!-- end of Moal body -->
                                    <div class="modal-footer">
                                        <button id="btncanpop" type="button" class="btn btn-sm btn-info" data-dismiss="modal">Cancel</button>
                                        @*<button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">Accept Bid Request</button>*@
                                        <a id="PopAcceptByVender" href="#" onclick="return AcceptByVender('1');" class="btn btn-sm btn-primary" data-toggle="modal"><i class="fa fa-check-square "></i> Yes</a>
                                        <a id="PopDeclineByVender" href="#" onclick="return DeclineByVender('1');" class="btn btn-sm btn-danger"><i class="fa fa-check-square"></i> Yes</a>
                                        <a id="PopCancelByVender" href="#" onclick="return CancelByVender('1');" class="btn btn-sm btn-default"><i class="fa fa-check-square"></i> Yes</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end of modal-->
                    </div><!--end of card body -->
                </div>
            </div>
        </div>




    </div><!--End side app-->
    <!-- Right-sidebar-->

    <div class="sidebar sidebar-right sidebar-animate">

        <div class="panel-body tabs-menu-body side-tab-body p-0 border-0 ">
            <div class="tab-content border-top">
                <div class="tab-pane active " id="tab">
                    <div class="card-body p-0">
                        <div class="header-user text-center mt-4 pb-4">
                            <span class="avatar avatar-xxl brround"><img src='@Convert.ToString(Session["ProfileImageBase64"])' alt="Profile-img" class="avatar avatar-xxl brround"></span>
                            <div class="dropdown-item text-center font-weight-semibold user h3 mb-0">@Convert.ToString(Session["username"])</div>

                            <div class="card-body">

                            </div>
                        </div>

                        <div class="card-body border-top">
                            <div class="row">

                                <div class="col-6 text-center">
                                    <a class="" href="~/ChangePassword/Edit"><i class="dropdown-icon mdi mdi-tune fs-30 m-0 leading-tight"></i></a>
                                    <div>ChangePassword</div>
                                </div>
                                <div class="col-6 text-center">
                                    <a onclick="signout();" href="~/Login/Index"><i class="dropdown-icon mdi mdi-logout-variant fs-30 m-0 leading-tight"></i></a>
                                    <div>Sign out</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div><!-- End Rightsidebar-->
    <!--footer-->
    <!-- End Footer-->

    <footer class="footer">
        <div class="container">
            <div class="row align-items-center flex-row-reverse">
                <div class="col-lg-12 col-sm-12   text-center">
                    Copyright © 2020 Association Bids. All rights reserved.
                </div>
            </div>
        </div>
    </footer>
</div>
<!-- End app-content-->
<script>




    //$("#txtfile1").change(function () {
    //    readURL(this);
    //    uploaddocument();
    //});

    //function readURL(input) {
    //    //debugger;
    //    $("#divFileUploader table tbody tr:eq(0)").show();
    //    for (var i = 0; i < input.files.length; i++) {
    //        var cln = $("#divFileUploader table tbody tr:eq(0)").clone(true);
    //        $(".upd-fl", cln).html(input.files[i].name);
    //        $("#divFileUploader table").append(cln);
    //    }
    //    $("#divFileUploader table tbody tr:eq(0)").hide();
    //}

    @*function uploaddocument() {
            debugger;
        var formData = new FormData();
        $('#loader').show();
        var formData = new FormData();
        var totalFiles = document.getElementById("txtfile1").files.length;
        for (var i = 0; i < totalFiles; i++) {
            var file = document.getElementById("txtfile1").files[i];
            formData.append("Files", file);
        }
        formData.append("BidRequestKey", $("#HdnObjectKey").val());
        formData.append("Modulekey", 100);


        $.ajax({
            type: 'POST',
            datatype: 'json',
            url: '@Url.Action("UpdateDocUpload", "PMBidRequests")',
            data: formData,
            contentType: false,
            processData: false,
            success: function (respo) {
                if (respo == true) {
                    $('#loader').hide();
                    window.location.href = 'ViewBidrequest?BidVendorKey=' + $("#HdnObjectKey").val();

                }
                else {
                    $('#loader').hide();
                    window.location.href = 'ViewBidrequest?BidVendorKey=' + $("#HdnObjectKey").val();

                }
                window.location.href = 'ViewBidrequest?BidVendorKey=' + $("#HdnObjectKey").val();
            },


        });

    }*@
    @*function bindDocument() {
        $("#global-loader").show();
        $.ajax({
            url: '@Url.Action("bindBidRequestDocument", "VenderBidrequest")',
            cache: false,
            data:
            {
                BidRequestKey: $('#HdnBidReqKey').val(),
                //BidVendorKey: $('#HdnObjectKey').val(),
                Modulekey: 100
            },
            success: function (response) {
                //console.log(response);
                $("#divFileUploadervbr table tbody tr:not(:first)").remove();
                $("#divFileUploadervbr table tbody tr:eq(0)").show();

                for (var i = 0; i < response.length; i++) {

                    //    var cln = $("#divFileUploader table tbody tr:eq(0)").clone(true);
                    //    $(".upd-fl", cln).html(response[i].FileName);
                    //    $("#divFileUploader table").append(cln);
                    var table = $("#divFileUploadervbr table tbody tr:eq(0)").clone(true);
                    var datearray = response[i].split("BidRequestKeyTemp");
                    if (datearray.length > 1) {
                        var extension = datearray[1];
                        $(".upd-fl", table).attr('src', '"../Document/Properties/"' + $('#HdnBidReqKey').val() + extension);
                        $(".upd-fl", table).attr('href', "../Document/Properties/" + $('#HdnBidReqKey').val() + extension);
                        $(".upd-fl", table).attr('onclick', "download('../Document/Properties/" + $('#HdnBidReqKey').val() + extension + "')");
                        $(".upd-fl", table).html(extension);
                    }
                    else {
                        var path = response[i].split($('#HdnBidReqKey').val());
                        var name = response[i].split('/');
                        var filename = "";
                        if (path.length > 1)
                            filename = path[1]
                        else
                            filename = name[name.length - 1];
                        $(".upd-fl", table).attr('src',+ response[i]);
                        $(".upd-fl", table).attr('href', response[i]);
                        $(".upd-fl", table).attr('onclick', "download('"+ response[i] + "')");
                        $(".upd-fl", table).html(filename);
                    }
                    //if (extension === 'jpg' || extension === 'png' || extension === 'gif') {


                    //$(".upd-fl", table).attr('src', '"../ Document / Properties /"' + $('#BidRequestKey').val() + extension);
                    $("#divFileUploadervbr table").append(table);
                }

                $("#divFileUploadervbr table tbody tr:eq(0)").hide();
                var a = ($("#dataTableExample5 tr").length);

                if ($("#dataTableExample5 tr").length == 4) {
                    $('.errormessage').html('Data Is Not Found.');
                    $('#Error').show();
                    $("#divFileUploadervbr table thead tr:eq(0)").hide();
                    $("#divFileUploadervbr table tbody tr:eq(0)").hide();
                }
                $("#global-loader").hide();
            },
            error: function () {
                $("#global-loader").hide();
            }
        });
    }*@

    function bindDocument2() {
        debugger;
        //alert("asdf");
            $("#global-loader").show();
            $.ajax({
                url: '@Url.Action("bindBidRequestDocument", "PMBidRequests")',
                cache: false,
                //aync: false,
                data:
                {
                    BidRequestKey: $('#HdnBidReqKey').val(),
                    Modulekey: 100
                },
                success: function (response) {
                    debugger;
                    $("#divFileUploader table tbody tr:not(:first)").remove();
                    $("#divFileUploader table tbody tr:eq(0)").show();

                    //for (var i = 0; i < response.length; i++)
                    //{
                    //    var cln = $("#divFileUploader table tbody tr:eq(0)").clone(true);
                    //    $(".upd-fl", cln).html(response[i].FileName);
                    //    $("#divFileUploader table").append(cln);
                    //}

                    for (var i = 0; i < response.length; i++) {

                        //    var cln = $("#divFileUploader table tbody tr:eq(0)").clone(true);

                        //    $(".upd-fl", cln).html(response[i].FileName);
                        //    $("#divFileUploader table").append(cln);

                        //var datearray = response[i].split("BidRequestKeyTemp");
                        //var extension = datearray[1];
                        ////if (extension === 'jpg' || extension === 'png' || extension === 'gif') {
                        var table = $("#divFileUploader table tbody tr:eq(0)").clone(true);
                        //$(".upd-fl", table).html(extension);
                        //$(".upd-fl", table).attr('src', '"../ Document / Properties /"' + $('#BidRequestKey').val() + extension);
                        //$(".upd-fl", table).attr('href', "../Document/Properties/" + $('#BidRequestKey').val() + extension);
                        //$(".upd-fl", table).attr('onclick', "download('../Document/Properties/" + $('#BidRequestKey').val() + extension + "')");

                        var datearray = response[i].split("BidRequestKeyTemp ");
                        if (datearray.length > 1) {
                            var extension = datearray[1];
                            $(".upd-fl", table).attr('src', '"../Document/Properties/"' + $('#HdnBidReqKey').val() + extension);
                            $(".upd-fl", table).attr('href', "../Document/Properties/" + $('#HdnBidReqKey').val() + extension);
                            $(".upd-fl", table).attr('onclick', "download('../Document/Properties/" + $('#HdnBidReqKey').val()+extension + "')");
                            $(".upd-fl", table).html(extension);
                        }
                        else {
                            debugger;
                            var path = response[i].split($('#HdnBidReqKey').val());
                            var name = response[i].split('/');
                            var filename = "";
                            if (path.length > 1)
                                filename = path[1]
                            else
                                filename = name[name.length - 1];
                            $(".upd-fl", table).attr('src', response[i]);
                            $(".upd-fl", table).attr('href', response[i]);
                            $(".upd-fl", table).attr('onclick', "download('" + response[i] + "')");
                            $(".upd-fl", table).html(filename);
                        }
                        $("#divFileUploader table").append(table);
                    }
                    $("#divFileUploader table tbody tr:eq(0)").hide();
                    var a = ($("#dataTableExample tr").length);

                    if ($("#dataTableExample tr").length == 4) {
                        $('.errormessage').html('Data Is Not Found.');
                        $('#Error').show();
                        $("#divFileUploader table thead tr:eq(0)").hide();
                        $("#divFileUploader table tbody tr:eq(0)").hide();
                    }
                    $("#global-loader").hide();
                },
                error: function () {
                    $("#global-loader").hide();
                }
            });
        }

    function viewimage(imgsrc) {
        $(".popback").show();
        $(".fullblack").show();
        $('#image').html("<img src='" + imgsrc + "' style= 'width:85%; margin-left:49px;margin-top:31px;' />");

    }
</script>