
@{
    ViewBag.Title = "Work Order Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Errormessage = Convert.ToString(ViewData["Errormessage"]);
}

<h2>Work Order Report</h2>

<script src="~/Content/themes/assets/js/vendors/jquery-3.2.1.min.js"></script>

<div class="app-content  my-3 my-md-5">
    <div class="side-app">
        <!-- page-header -->
        <div class="page-header">
            <ol class="breadcrumb">
                <!-- breadcrumb -->
                <li class="breadcrumb-item">@Html.ActionLink("Home", "Dashboard", "Dashboard", null, new { })</li>
                <li class="breadcrumb-item active" aria-current="page">Work Order Report</li>
            </ol><!-- End breadcrumb -->
        </div>
        @if (TempData["Sucessmessage"] != null)
        {
            <p class="alert alert-success alert-dismissible" id="successMessage">
                @TempData["Sucessmessage"]
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            </p>
        }
        @if (TempData["delete"] != null)
        {
            <p class="alert alert-danger alert-dismissible" id="successMessage">
                @TempData["delete"]
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            </p>
        }

        <div role="alert">
            @*<div class="alert alert-danger" id="Error" style="display: none;margin-top: 20px;">
                    <strong><span class="errormessage"></span></strong>
                </div>*@
            @if (!string.IsNullOrEmpty(Errormessage))
            {
                <div class="alert alert-danger" style="margin-top: 20px;">
                    <strong><span>@Errormessage</span></strong>
                </div>
            }
        </div>
        <!-- End page-header -->
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">

                        <div class="form-group">
                            @*<div class="row">
                <div class="col-lg-4 col-xl-4 mb15">
                    <input type="text" id="txtsearch" class="form-control" placeholder="Search for...">
                </div>
                <div class="col-lg-4 col-xl-4">
                    <a class="btn btn-secondary" id="btnsearch" href="#" role="button">Search</a>
                    <span class="advance_search btn_advsearch" onclick="toggle_visibility('advancesearch2');"><i class="fe fe-chevron-down"></i></span>

                </div>
                <div class="col-lg-4 col-xl-4">
                    <div class="btn_group_div text-right">
                        <a href="~/PMBidRequests/PMBidRequestAdd" class="btn btn-primary">+ Add Bid Request</a>
                    </div>
                </div>
            </div>*@
                        </div><!-- end of form group -->
                        <!--<div id="advancesearch3">
        <div class="overlayclose"><i class="fa fa-times"></i></div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-3">
                    <label class="form-label">Property Name</label>
                </div>
                <div class="col-md-4">
                    <label class="form-label">Bid Request Status</label>
                    @*<input class="form-control" id="txtVendorName" placeholder="Vendor Name" />*@
                <!--</div>
                <div class="col-md-3">
                    <label class="form-label">&nbsp;</label>
                    <button type="button" id="btnAdvancesearch" class="btn  btn-primary btn-icon-text">
                        Search
                    </button>
                </div>
                <div class="alert alert-danger" id="Error" style="display:none; margin-top: 20px;">
                    <strong><span class="errormessage"></span></strong>
                </div>
            </div>
        </div>
    </div>-->
                        @*<hr />*@
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="form-label">
                                        Property

                                    </label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fa fa-search tx-16 lh-0 op-6"></i>
                                            </div>
                                        </div>@*<input class="form-control" placeholder="Seaech property..." type="text">*@


                                        @Html.DropDownList("Property", new SelectList(ViewBag.lststatus, "Value", "Text"), new { @tabindex = "1", @data_rel = "Choose_one", @class = "form-control", placeholder = "Select property..." })




                                    </div>
                                </div>
                            </div><!-- end of col -->
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="form-label">
                                        Start Date

                                    </label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fa fa-calendar tx-16 lh-0 op-6"></i>
                                            </div>
                                        </div>
                                        <input class="form-control fc-datepicker" placeholder="MM/DD/YYYY" type="text">
                                    </div>
                                </div>
                            </div><!-- end of col -->
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="form-label">
                                        End Date

                                    </label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fa fa-calendar tx-16 lh-0 op-6"></i>
                                            </div>
                                        </div>
                                        <input class="form-control fc-datepicker" placeholder="MM/DD/YYYY" type="text">
                                    </div>
                                </div>
                            </div><!-- end of col -->
                        </div>
                        <div id="RawDatas" class="table-responsive">
                            <table id="dataTableExample" class="table table-bordered text-nowrap w-100 dataTable no-footer">
                                <thead>
                                    <tr>
                                        @*<th>Title</th>
                        <th>Response Date</th>
                        <th>Bid Due Date</th>
                        <th>#No. of Bids</th>
                        <th>Bid Request Status</th>
                        <th align="center" class="text-center">Action</th>*@
                                        <th width="15%" onclick="SortingFun('Title');" style="cursor: pointer;">
                                            <i id="Titlei" class="fa fa-sort-asc pull-right"></i>
                                            Title
                                        </th>
                                        <th width="15%" onclick="SortingFun('PropertyName');" style="cursor: pointer;">
                                            <i id="PropertyNamei" class="fa fa-sort-asc pull-right"></i>
                                            Property Name
                                        </th>
                                        <th width="15%" onclick="SortingFun('StartDate');" style="cursor: pointer;">
                                            <i id="StartDatei" class="fa fa-sort-asc pull-right"></i>
                                            Start Date
                                        </th>
                                        <th width="15%" onclick="SortingFun('BidDueDate');" style="cursor: pointer;">
                                            <i id="BidDueDatei" class="fa fa-sort-asc pull-right"></i>
                                            Bid Due Date
                                        </th>
                                        <th width="15%" onclick="SortingFun('NoofBids');" style="cursor: pointer;">
                                            <i id="NoofBidsi" class="fa fa-sort-asc pull-right"></i>
                                            #No. of Bids
                                        </th>
                                        <th width="15%" onclick="SortingFun('BidRequestStatus');" style="cursor: pointer;">
                                            <i id="BidRequestStatusi" class="fa fa-sort-asc pull-right"></i>
                                            Bid Request Status
                                        </th>
                                        <th width="15%" onclick="SortingFun('Action');" style="cursor: pointer;" align="center" class="text-center">
                                            Generate Report
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><span class="title">test</span></td>
                                        <td><span class="PropertyName">prop01</span></td>
                                        <td><span class="StartDate">03/01/2021</span></td>
                                        <td><span class="bidDueDate">04/01/2021</span></td>
                                        <td><span class="noofBids">5</span></td>
                                        <td id="blue" style="display:none"><span class="badge badge-primary  mr-1 mb-1 mt-1 bidRequestStatus"></span></td>
                                        <td id="red" style="display:none"><span class="badge badge-danger   mr-1 mb-1 mt-1 bidRequestStatus"></span></td>
                                        <td id="green" style="display:block"><span class="badge badge-success  mr-1 mb-1 mt-1 bidRequestStatus">Submitted</span></td>
                                        <td id="yellow" style="display:none"><span class="badge badge-warning  mr-1 mb-1 mt-1 bidRequestStatus"></span></td>
                                        <td align="center"><a class="btnview" title="Generate Report" role="button"><i class="fe fe-eye font18" style="cursor:pointer;"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td><span class="title">test</span></td>
                                        <td><span class="PropertyName">prop01</span></td>
                                        <td><span class="StartDate">03/01/2021</span></td>
                                        <td><span class="bidDueDate">04/01/2021</span></td>
                                        <td><span class="noofBids">5</span></td>
                                        <td id="blue" style="display:none"><span class="badge badge-primary  mr-1 mb-1 mt-1 bidRequestStatus"></span></td>
                                        <td id="red" style="display:none"><span class="badge badge-danger   mr-1 mb-1 mt-1 bidRequestStatus"></span></td>
                                        <td id="green" style="display:block"><span class="badge badge-success  mr-1 mb-1 mt-1 bidRequestStatus">Submitted</span></td>
                                        <td id="yellow" style="display:none"><span class="badge badge-warning  mr-1 mb-1 mt-1 bidRequestStatus"></span></td>
                                        <td align="center"><a class="btnview" title="Generate Report" role="button"><i class="fe fe-eye font18" style="cursor:pointer;"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td><span class="title">test</span></td>
                                        <td><span class="PropertyName">prop01</span></td>
                                        <td><span class="StartDate">03/01/2021</span></td>
                                        <td><span class="bidDueDate">04/01/2021</span></td>
                                        <td><span class="noofBids">5</span></td>
                                        <td id="blue" style="display:none"><span class="badge badge-primary  mr-1 mb-1 mt-1 bidRequestStatus"></span></td>
                                        <td id="red" style="display:none"><span class="badge badge-danger   mr-1 mb-1 mt-1 bidRequestStatus"></span></td>
                                        <td id="green" style="display:block"><span class="badge badge-success  mr-1 mb-1 mt-1 bidRequestStatus">Submitted</span></td>
                                        <td id="yellow" style="display:none"><span class="badge badge-warning  mr-1 mb-1 mt-1 bidRequestStatus"></span></td>
                                        <td align="center"><a class="btnview" title="Generate Report" role="button"><i class="fe fe-eye font18" style="cursor:pointer;"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="pull-left">
                                <label><span class="spnToRecs">0</span> to <span class="spnOfRecs">0</span> out of <span class="spnTotalRecs">0</span>&nbsp; Records </label>
                            </div>
                            <div class="dataTables_paginate paging_simple_numbers" id="pagin">
                                <ul class="pagination"></ul>

                            </div>
                        </div>
                    </div>
                    <div class="pagination" style="display:none;">
                        <input type="hidden" id="HdnSortValue" value="order by Title asc" />
                        <input type="hidden" id="HdnPageIndex" value="1" />
                        <input type="hidden" id="Titlehdn" value="asc" />
                        <input type="hidden" id="StartDatehdn" value="asc" />
                        <input type="hidden" id="BidDueDatehdn" value="asc" />
                        <input type="hidden" id="NoofBidshdn" value="asc" />
                        <input type="hidden" id="PropertyNamehdn" value="asc" />
                        <input type="hidden" id="BidRequestStatushdn" value="asc" />
                        <input type="hidden" id="TotalPageRecord" value='0' />
                        <input type="hidden" id="ispriorityrecord" value='true' />
                    </div>
                </div>
            </div>
        </div>

    </div><!--End side app-->
    <!--footer-->
    <footer class="footer">
        <div class="container">
            <div class="row align-items-center flex-row-reverse">
                <div class="col-lg-12 col-sm-12   text-center">
                    Copyright © 2020 Association Bids. All rights reserved.
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer-->
</div>
<script>

   $(".btnview").click(function () {
        debugger;
        //alert("Delete");
       window.location.href = 'AdminWorkOrderReport';

    });
</script>