@model AssociationBids.Portal.Model.ServiceModel

@{
    ViewBag.Title = "ServiceEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ServiceEdit</h2>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.js"></script>

<script src="~/Content/themes/assets/js/vendors/jquery-3.2.1.min.js"></script>
<div class="app-content  my-3 my-md-5">
    <div class="side-app">

        <div class="page-header">
            <ol class="breadcrumb">
                <!-- breadcrumb -->
                <li class="breadcrumb-item"><a href="notificationtempl.html">Service</a></li>
                <li class="breadcrumb-item active" aria-current="page">Edit Service</li>
            </ol><!-- End breadcrumb -->

        </div>
       
        <div class="alert alert-danger" id="Error" style="display:block; margin-top: 20px;">
            <strong><span class="errormessage"></span></strong>
        </div>
        <div class="alert alert-danger alert-dismissible" id="duplicate" style="display:block; margin-top: 20px;">
            <strong><span>Service Already Exit</span></strong>
        </div>
        <!-- End page-header -->


        @using (Html.BeginForm("ServiceEdit", "ServiceTmp", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {

            <div class="row">
                <div class="col-12">
                    <div class="card">

                        <div class="card-body">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="text-right"><a href="#" role="button" id="btndelete" class="btn btn-icon btn-danger" style="margin-right:10px;"><i class="fe fe-trash"></i> Delete</a></div>
                                    @Html.HiddenFor(model => model.ServiceKey)
                                </div>
                            </div>
                            <hr />
                            <div class="form-div">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">
                                                Title
                                                @Html.ValidationMessageFor(model => model.Title, "*", new { @class = "text-danger" })
                                            </label>
                                            @Html.HiddenFor(model => model.ServiceKey)
                                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", @tabindex = "1", autocomplete = "off", placeholder = "Title" } })
                                        </div>
                                    </div>
                                    <div class="col-md-4">

                                    </div>
                                    <div class="col-md-4">

                                    </div>
                                    <div class="col-md-4">

                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">

                                        </div>
                                    </div>
                                </div><!-- end of row -->
                                <hr />
                                <div class="button-row d-flex mt-4">
                                    @*<button class="btn btn-default" onclick="return Clear()" type="button" value="UserAdd" title="Clear">Clear</button>*@
                                    <a href="@Request.UrlReferrer" class="btn btn-default" title="Cancel">Cancel</a>
                                    <input t class="btn btn-primary ml-auto" id="btnsubmit" type="submit" onclick="return validation()" title="Update" value="Update" /><i class="fa fa-loppy-o"></i>
                                    @*<input t class="btn btn-primary ml-auto" id="btnsubmit" type="submit" onclick="return validation()" title="Update" value="Update" /><i class="fa fa-loppy-o"></i>*@
                                </div>

                            </div><!-- end of form-div  -->
                        </div><!--end of card body -->
                    </div>
                </div>
            </div>
        }
        <footer class="footer">
            <div class="container">
                <div class="row align-items-center flex-row-reverse">
                    <div class="col-lg-12 col-sm-12   text-center">
                        Copyright © 2020 Association Bids. All rights reserved.
                    </div>
                </div>
            </div>
        </footer>

        <!-- End Page -->
        <!-- Back to top -->
        <!-- Custom js-->
        <script src="../assets/js/custom.js"></script>

        <script>

            $(document).ready(function () {
                SetActiveMenu($("#Serv"), false);
                $('#loader').show();
                $('.errormessage').html('');
                $('#Error').hide();
                $('#duplicate').hide();
                $('#loader').hide();
                //$("#Serv").closest('li').addClass('active');
                //$("#Serv1").addClass('active');

            });
            function validation() {
                debugger;
                $('#loader').show();
                $('.errormessage').html('');

                if ($('#Title').val() == "") {
                    $('.errormessage').html('Please Enter Title.');
                    $('#Error').show();
                    $('#Title').focus();
                    $(window).scrollTop(0);
                    return false;
                }
                 @*if ($(@ViewData["SuccessMessage"])!= "")
                {
                    $('#duplicate').show();
                    $('#Error').hide();
                }*@

                $('#loader').hide();

                return true;
            }

            function Clear() {

                document.getElementById("Title").value = "";

                $('.field-validation-error').html("");
            }
            $("#btncancel").click(function () {
                var a = $("#PushNotificaionTemplateKey").val();
                alert(a);
                window.location.href = 'ServiceView?ServiceKey=' + $("#ServiceKey").val();

            });

            $("#btnupdatee").click(function () {
                window.location.href = 'Notificationupdates?ServiceKey=' + $("#ServiceKey").val();

            });

            $("#btndelete").click(function () {
                if (confirm('Are you sure you want to delete this record?')) {
                    window.location.href = 'Delete?ServiceKey=' + $("#ServiceKey").val();
                    return true;
                }
                else {
                    return false;
                }
            });

            $(document).ready(function () {
                debugger;
                $("#ddlload").hide();
            });
        </script>



