@model AssociationBids.Portal.Model.Login.LoginModel
@{
    ViewBag.Title = "Index";
    Layout = null;
}
@Html.ValidationSummary(true)
<!doctype html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="" name="description">
    <meta content="Association Bids" name="author">
    <meta name="keywords" content="" />

    <!-- Favicon -->
    <link rel="icon" href="~/Content/themes/assets/images/brand/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/themes/assets/images/brand/favicon.ico" />

    <!-- Title -->
    <title>Login - Association Bids</title>

    <!--Bootstrap.min css-->
    <link rel="stylesheet" href="~/Content/themes/assets/plugins/bootstrap/css/bootstrap.min.css">

    <!-- Dashboard css -->
    <link href="~/Content/themes/assets/css/style.css" rel="stylesheet" />

    <!-- Perfect scroll bar css-->
    <link href="~/Content/themes/assets/plugins/pscrollbar/perfect-scrollbar.css" rel="stylesheet" />

    <!-- Sidemenu css -->
    <link rel="stylesheet" href="~/Content/themes/assets/plugins/sidemenu/sidemenu-icon.css">

    <!--Daterangepicker css-->
    <link href="~/Content/themes/assets/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />

    <!-- Sidebar Accordions css -->
    <link href="~/Content/themes/assets/plugins/sidemenu-responsive-tabs/css/easy-responsive-tabs.css" rel="stylesheet">

    <!-- Rightsidebar css -->
    <link href="~/Content/themes/assets/plugins/sidebar/sidebar.css" rel="stylesheet">

    <!---Font icons css-->
    <link href="~/Content/themes/assets/plugins/webfonts/plugin.css" rel="stylesheet" />
    <link href="~/Content/themes/assets/plugins/webfonts/icons.css" rel="stylesheet" />
    <link href="~/Content/themes/assets/fonts/fonts/font-awesome.min.css" rel="stylesheet">

    <!-- Color-skins css -->
    <link id="theme" rel="stylesheet" type="text/css" media="all" href="~/Content/themes/assets/colors/color-skins/color.css" />
    <link rel="stylesheet" href="~/Content/themes/assets/css/demo-styles.css" />
    <style>
        .diverr {
            border-width: thin;
            border-color: rgb(201, 76, 76);
            border-style: solid;
            
            /*text-align:center;*/
        }
    </style>
</head>

<body class="bg-account login-reg">
    @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { @id = "frmLogin" }))

    {
        @Html.AntiForgeryToken()
    <div class="container-fluid">
        <div class="row ">
            <div class="col-md-5">

                <div class="login-regi-left-div">
                    <div class="text-center mb-6">
                        <img src="~/Content/themes/assets/images/brand/logo.png" width="200px" alt="">
                    </div>

                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="mt-6 btn-list">
                                @*<a href="Administrator/index.html" class="btn btn-icon btn-primary"><i class="fa fa-user-secret"></i> Administrator</a>
                                <a href="propertymanager/index.html" class="btn btn-icon btn-secondary"><i class="fa fa-black-tie"></i> Property Manager</a>
                                <a href="vendor/index.html" class="btn btn-icon btn-warning"><i class="fa fa-users"></i> Vendor</a>*@

                            </div>
                        </div>
                    </div><!-- end of row -->

                    <div class="bgimg">
                        <img src="~/assets/images/asbid-pic.svg" />
                    </div>

                </div><!-- end of login-regi-left-div -->

            </div><!-- end of col -->
            <div class="col-md-7">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="login-div">

                    <h3>Login</h3>
                    <p class="text-muted">Sign In to your account</p>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", @tabindex = "1", autocomplete = "off", placeholder = "Email", @type = "email" } })
                                    @Html.HiddenFor(model => model.isinsurance)
                                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                    @*<input type="text" class="form-control" placeholder="Username">*@
                                </div>
                                <div id="emailv" class="diverr" style="color:red;"></div>
                                @*<label class="form-label, mylabel" id="emailv" style="color:#FF0000"></label>*@
                            </div>
                            <div class="form-group">
                                <div class="input-group mb-4">
                                    <span class="input-group-addon"><i class="fa fa-unlock-alt"></i></span>
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @tabindex = "2", autocomplete = "off", placeholder = "Password", @type = "password", @required = true } })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                    @*<input type="password" class="form-control" placeholder="Password">*@
                                </div>
                                <div id="Passv" class="diverr" style="color:red;"></div>
                                @*<label class="form-label, mylabel" id="Passv" style="color:#FF0000"></label>*@
                                @if (ViewBag.msg == "NoData")
                                {
                                    <div id="assv" class="diverr" style="color:red;"></div>

                                    <script>
                                        document.getElementById('assv').innerHTML = '&nbsp; Invalid attempt..';
                                    </script>
                                }


                            </div>
                            <div class="form-group">
                                <button type="submit" onclick="return Validation()" class="btn btn-primary btn-block">Login</button>
                            </div>
                            <div class="form-group text-center">
                                <a href="~/ForgotPassword/ForgotPassword" class="btn btn-link text-center box-shadow-0 px-0">Forgot password?</a>
                            </div>

                            <div class="form-group text-center">
                                <a onclick="RegistrationPage();" style="color: white;" class="btn btn-primary"><i class="fa fa-address-card-o"></i> Registration for Vendor</a>
                            </div>
                        </div>
                    </div>
                </div><!-- end of login div -->
            </div><!-- end of col -->
        </div>

        <footer class="footer">
            <div class="container">
                <div class="row align-items-center flex-row-reverse">
                    <div class="col-lg-12 col-sm-12   text-center">
                        Copyright © 2020 Association Bids. All rights reserved.
                    </div>
                </div>
            </div>
        </footer>
    </div>
    }

    <script>
        document.getElementById('emailv').style.visibility = "hidden";
        document.getElementById('Passv').style.visibility = "hidden";

        function Validation() {

            var email = document.getElementById("email").value;
            var pass = document.getElementById("Password").value;

            if (email == "" && pass == "") {
                document.getElementById('emailv').style.visibility = "visible";
                document.getElementById('Passv').style.visibility = "visible";
                //document.getElementById("emailv").innerText = "Please Insert Email";
                document.getElementById('emailv').innerHTML = '&nbsp; Please Enter Email.';
                document.getElementById('Passv').innerHTML = '&nbsp; Please Enter Password.';

                //alert("email is valid");
                document.getElementById('email').focus();
                return false;
            }
            else if (email == "") {
                document.getElementById('Passv').style.visibility = "hidden";
                //document.getElementById("emailv").innerText = "Please Insert Email";
                document.getElementById('emailv').style.visibility = "visible";
                document.getElementById('emailv').innerHTML = '&nbsp; Please Enter Email.';
                //alert("email is valid");
                document.getElementById('email').focus();
                return false;
            }
            else if (pass == "") {
                document.getElementById('emailv').style.visibility = "hidden";
                document.getElementById('Passv').style.visibility = "visible";
                document.getElementById('Passv').innerHTML = '&nbsp; Please Enter Password.';
                //alert("Password in valid");
                document.getElementById('Password').focus();
                return false;
            }
            else { return true; }

        }
         function RegistrationPage()
    {
        window.location.href = '@Url.Action("Registration", "Registration")';

    }
    </script>
    <!-- Jquery js-->
    <script src="~/Content/themes/assets/js/vendors/jquery-3.2.1.min.js"></script>

    <!--Bootstrap.min js-->
    <script src="~/Content/themes/assets/plugins/bootstrap/popper.min.js"></script>
    <script src="~/Content/themes/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!--Jquery Sparkline js-->
    <script src="~/Content/themes/assets/js/vendors/jquery.sparkline.min.js"></script>

    <!-- Chart Circle js-->
    <script src="~/Content/themes/assets/js/vendors/circle-progress.min.js"></script>

    <!-- Star Rating js-->
    <script src="~/Content/themes/assets/plugins/rating/jquery.rating-stars.js"></script>

    <!-- Sidebar Accordions js -->
    <script src="~/Content/themes/assets/plugins/sidemenu-responsive-tabs/js/easyResponsiveTabs.js"></script>

    <!--Moment js-->
    <script src="~/Content/themes/assets/plugins/moment/moment.min.js"></script>

    <!-- Daterangepicker js-->
    <script src="~/Content/themes/assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>

    <!-- Perfect scroll bar js-->
    <script src="~/Content/themes/assets/plugins/pscrollbar/perfect-scrollbar.js"></script>
    <script src="~/Content/themes/assets/plugins/pscrollbar/p-scroll.js"></script>

    <!-- Custom js-->
    <script src="~/Content/themes/assets/js/custom.js"></script>

</body>
</html>