@model AssociationBids.Portal.Model.VendorManagerVendorModel
@{
    ViewBag.Title = "Invited Vendor";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Errormessage = Convert.ToString(ViewData["Errormessage"]);

    if (Session["PortalKey"] == null)
    { Response.Redirect("~/", true); }
    else if (Session["PortalKey"].ToString() == "2")
    { Response.Redirect("~/PMDashboard/Dashboard", true); }
    else if (Session["PortalKey"].ToString() == "3")
    { Response.Redirect("~/VDashboard/Index", true); }
}
<script src="../assets/js/vendors/jquery-3.2.1.min.js"></script>


<style>
    div#ServiceTitle1_chosen {
        width: 100% !important;
    }

    div#Title_chosen {
        width: 100% !important;
    }

    .selector_ED {
        width: auto !important;
    }

    .myFile {
        position: relative;
        overflow: hidden;
        clear: left;
        padding: 3px;
        color: white;
        cursor: pointer;
    }

        .myFile input[type="file"] {
            display: block;
            position: absolute;
            opacity: 0;
            font-size: 30px;
            filter: alpha(opacity=0);
            cursor: pointer;
        }

    input[type=file], /* FF, IE7+, chrome (except button) */
    input[type=file]::-webkit-file-upload-button { /* chromes and blink button */
        cursor: pointer;
    }


    .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
        background: url('../../Content/themes/cancelimg.jpg');
    }

    .chosen-select placeholder_text {
        padding: 5px;
    }

    .Error {
        color: red;
    }
</style>



<h2>Vendorlist</h2>


<!-- app-content-->
<div class="app-content  my-3 my-md-5">
    <div class="side-app">
        <!-- page-header -->
        <div class="page-header">
            <ol class="breadcrumb">
                <!-- breadcrumb -->
                <li class="breadcrumb-item"><a href="../Dashboard/Dashboard">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Invited Vendors</li>
            </ol><!-- End breadcrumb -->
        </div>
        @if (TempData["Sucessmessage"] != null)
        {
            <p class="alert alert-success alert-dismissible" id="successMessage">
                @TempData["Sucessmessage"]
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            </p>
        }
        @if (TempData["delete"] != null)
        {
            <p class="alert alert-danger alert-dismissible" id="successMessage">
                @TempData["delete"]
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            </p>
        }

        <div role="alert">
            @*<div class="alert alert-danger" id="Error" style="display: none;margin-top: 20px;">
                <strong><span class="errormessage"></span></strong>
            </div>*@
            @if (!string.IsNullOrEmpty(Errormessage))
            {
                <div class="alert alert-danger" style="margin-top: 20px;">
                    <strong><span>@Errormessage</span></strong>
                </div>
            }
            @if (TempData["Error"] != null && TempData["Error"].ToString() != "")
            {
                <div class="alert alert-danger" style="margin-top: 20px;">
                    <i class="fa fa-exclamation-triangle"></i>
                    <strong><span>@(new HtmlString(TempData["Error"].ToString()))</span></strong>
                </div>
            }
            @if (TempData["Warning"] != null && TempData["Warning"].ToString() != "")
            {
                <div class="alert alert-warning" style="margin-top: 20px;">
                    <i class="fa fa-exclamation-circle"></i>
                    <strong><span>@(new HtmlString(@TempData["Warning"].ToString()))</span></strong>
                </div>
            }
        </div>

        <!-- End page-header -->

     
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">

                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="btn_group_div text-left">
                                        <input type="text" id="txtsearch" class="form-control" placeholder="Search For...">
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <a class="btn btn-secondary text-white" id="btnsearch" onclick=" return LoadSortTableFillWithSearchForVendor();" role="button">Search</a>
                                    @*<span class="advance_search btn_advsearch" onclick="toggle_visibility('advancesearch2');"><i class="fe fe-chevron-down"></i></span>*@
                                </div>
                                <div class="col-lg-3 col-xl-2" style="display: none;">
                                    <div class="btn_group_div text-right">
                                        <a href="map_vendors.html" class="btn btn-sm btn-info"><i class="fa fa-map-marker"></i> Show Map</a>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <a href="~/VendorManager/InviteVendor" style="cursor:pointer;padding: 5px;margin: 3px;" class="btn btn-primary pull-right" title="Invite Vendor"><i class="fe fe-plus"></i> Invite Vendor</a>
                                    <div class="myFile pull-right" style="padding:3px;">

                                        @*<input type="file" title="" id="VendorFile" style="cursor:pointer" onchange="uploadFile()" />*@
                                        <a class="btn btn-primary pull-right" style="cursor:pointer;padding: 5px;" data-toggle="modal" data-target="#addVendors" onclick="refreshPopUp()" title="Upload Vendor"><i class="fe fe-upload"></i> Upload Vendor</a>
                                    </div>
                                    @*<label class="myLabel">
                        <input type="file" required />
                        <span>My Label</span>
                    </label>*@

                                    @*<div class="col-lg-5 col-xl-5">
                        <a href="add-vendor.html" class="btn btn-primary pull-right" style="margin-left:10px;" title="Invite Vendor">+ Invite Vendor</a>
                        <a href="javascript:void(0);" class="btn btn-primary pull-right" title="Upload Vendor"><i class="fe fe-upload"></i> Upload Vendor</a>

                    </div>*@
                                </div>

                            </div>
                        </div><!-- end of form group -->

                        <div class="alert alert-danger" id="Error" style="display:block; margin-top: 20px;">
                            <strong><span class="errormessage"></span></strong>
                        </div>
                        <hr />
                        <div id="RawDatas" class="table-responsive">
                            <table id="dataTableExample" class="table table-striped table-bordered text-nowrap w-100 dataTable no-footer">
                                <thead>
                                    <tr>
                                        <th width="30%" onclick="SortingFun('Name');" style="cursor: pointer;">
                                            <i id="Namei" class="fa fa-sort-asc pull-right"></i>
                                            Vendor Name
                                        </th>
                                        <th width="30%" onclick="SortingFun('Contact');" style="cursor: pointer;">
                                            <i id="Worki" class="fa fa-sort-asc pull-right"></i>
                                            Contact Person
                                        </th>
                                        <th width="30%" style="cursor: pointer;">
                                            @*onclick="SortingFun('Title');"
                            <i id="Titlei" class="fa fa-sort-asc pull-right"></i>*@
                                            Services
                                        </th>
                                        <th width="10%">
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><span class="name"></span></td>
                                        <td><span class="work"></span></td>
                                        <td><span class="title"></span></td>
                                        <td align="center"><a id="viewdata" title="View Details" role="button"><i class="fe fe-eye font18"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="pull-left">
                                <label> <span class="spnToRecs">0</span> to <span class="spnOfRecs">0</span> out of <span class="spnTotalRecs">0</span>&nbsp; Records </label>
                            </div>
                            <div class="dataTables_paginate paging_simple_numbers" id="pagin">
                                <ul class="pagination"></ul>

                            </div>
                        </div>
                    </div>



                    <div class="pagination" style="display:none;">
                        <input type="hidden" id="HdnSortValue" value="order by Name asc" />
                        <input type="hidden" id="HdnPageIndex" value="1" />
                        <input type="hidden" id="PageSize" value="10" />
                        <input type="hidden" id="Namehdn" value="asc" />
                        <input type="hidden" id="Workhdn" value="asc" />
                        <input type="hidden" id="Titlehdn" value="asc" />
                        <input type="hidden" id="TotalPageRecord" value='0' />
                    </div>
                </div>
            </div>

            <div class="modal fade" id="addVendors" tabindex="-1" role="dialog" aria-labelledby="uploadmodalLabel" aria-hidden="false">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="uploadmodalLabel">Upload Vendors</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p class="alert alert-danger" id="errormsg" style="display:none;"></p>
                            @using (Html.BeginForm("UploadVendor", "VendorManager", FormMethod.Post, new { enctype = "multipart/form-data", @onSubmit = "return validateInvite()" }))
                            {

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="form-label">Select Management Company</label>
                                            @Html.DropDownList("CompanyKey", new SelectList(ViewBag.companyList, "Value", "Text"), new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="file" name="files" id="files" class="dropify" />
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-md-12 center no-padding-bottom">
                                        <div class="form-group">
                                            <a name="btnDownloadSample" id="downloadSample" class="btn btn-azure pull-left text-white">Sample Import File</a>
                                            @Html.TextBox("btnSubmit", "Invite Vendors", new { @class = "btn btn-primary pull-right", type = "submit", style = "padding:8px;" })
                                        </div>
                                    </div>
                                </div><!-- end of row -->
                            }
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <!--footer-->
        <footer class="footer">
            <div class="container">
                <div class="row align-items-center flex-row-reverse">
                    <div class="col-lg-12 col-sm-12   text-center">
                        Copyright © 2020 Association Bids. All rights reserved.
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer-->
        <!--End side app-->
    </div>
</div><!-- End app-content-->

<script>
    $(document).ready(function () {
        $(".advance_search").click(function () {
            $("#advancesearch3").toggle(500);
        });
        $(".overlayclose").click(function () {
            $("#advancesearch3").hide();
        });

        $("#global-loader").show();
        $('.loader-wrapper').show();
        LoadSortTableFill();
        var sorted = 'order by name asc';
        $("#SortValuee").val(sorted);
        $('#divSuccess').hide();
      
        $("#global-loader").hide();



    });



           function updatePagingsearch(TotalRecs, PageIndex) {

        $('ul.pagination').html('');
        var liClone = $('ul.pagination');

            debugger;

            var pageSize = '@System.Configuration.ConfigurationManager.AppSettings["PageSize"].ToString()';
            //var pageSize = $('#PageSize').val();
            var NoPage = 1;
            if (parseInt(TotalRecs) > parseInt(pageSize)) {
                NoPage = parseInt(parseInt(TotalRecs) / parseInt(pageSize));
                if (parseFloat(parseInt(parseInt(TotalRecs) / parseInt(pageSize))) < parseFloat(parseInt(TotalRecs) / parseInt(pageSize))) {
                    NoPage = (parseInt(parseInt(TotalRecs) / parseInt(pageSize)) + 1);
                }
            }

            var lp = 0;//parseFloat(parseInt($('#HdnPageIndex').val()) / 5);
        if (parseFloat(parseInt(PageIndex) % 5) == 0) {
            lp = ((parseInt(parseInt(PageIndex) / 5) - 1) * 5);
            }
            else {
            lp = parseInt(parseInt(PageIndex) / 5) * 5;
            }

            var ind = 0;
            for (var i = 1; i <= NoPage; i++) {
                if ((parseInt(lp)) < i) {
                    if (parseInt(PageIndex) > 5 && $(liClone).find('li.previous').length == 0) {
                        $(liClone).append('<li class="paginate_button previous" aria-controls="DataTables_Table_0" tabindex="0" onclick="LoadPagingSortTableFill(' + "'" + (i - 1) + "'" + ')"><a href="#">Previous</a></li>');
                    }
                    if (ind < 5) {
                        if (i == parseInt(PageIndex)) {
                            $(liClone).append('<li style=""><a href="#" onclick="LoadPagingSortTableFill(' + "'" + i + "'" + ')" class="current">' + i + '</a></li>');
                        } else {
                            $(liClone).append('<li style=""><a href="#" onclick="LoadPagingSortTableFill(' + "'" + i + "'" + ')">' + i + '</a></li>');
                        }
                    } else if ($(liClone).find('li.next').length == 0) {
                        $(liClone).append('<li class="paginate_button next " aria-controls="DataTables_Table_0" tabindex="0" onclick="LoadPagingSortTableFill(' + "'" + i + "'" + ')"><a href="#">Next</a></li>');
                    }
                    ind = ind + 1;
                }
            }



    }


    function LoadSortTableFillWithSearchForVendor() {

        debugger;
        var PageSize = "10";
        var PageIndex = "1";
        var Text = $('#txtsearch').val();


        if ($('#txtsearch').val() == "") {
            PageSize = "10";
        }

            $.ajax({
                url: '/VendorManager/IndexvendorPagingInvited',
                cache: false,
                data: {
                    PageSize: PageSize,
                    PageIndex: PageIndex,
                    Search: $('#txtsearch').val(),
                    Sort: $("#HdnSortValue").val()
                },
                success: function (response) {
                    debugger;

                    $('.spnOfRecs').text(0);
                    $('.spnTotalRecs').text(0);
                    $('.spnToRecs').text(0);

                    if (parseInt(response.length) > 0) {

                        var curRecords = 0;
                        var TotalRecs = 0;
                        var spnToRecs = 0;
                        //debugger;
                        curRecords = parseInt((PageIndex) * parseInt(PageSize));
                        curRecords = curRecords - (PageSize - parseInt(response.length));
                        TotalRecs = parseInt(response[0].TotalRecords);
                        $('.spnOfRecs').text(curRecords);
                        $('.spnTotalRecs').text(TotalRecs);

                    }
                    else {

                    }
                    $("#RawDatas table tbody tr:not(:first)").remove();

                    for (var i = 0; i < response.length; i++) {
                        var table = $("#RawDatas table tbody tr:eq(0)").clone(true);
                        $(".name", table).html(response[i].LegalName);
                        $(".work", table).html(response[i].ContactPerson + " - " + formatPhoneNumber(response[i].Work));
                        $(".title", table).html(response[i].Title);
                        $("#viewdata", table).attr('href', '/VendorManager/InvitedVendorView?CompanyKey=' + response[i].CompanyKey);

                        $("#RawDatas table").append(table);
                        table.show();
                        spnToRecs++;
                    }
                    $("#RawDatas table tbody tr:eq(0)").hide();

                    spnToRecs = (curRecords - spnToRecs) + 1;
                    if (spnToRecs > 0) {
                        $('.spnToRecs').text(spnToRecs);
                        $(".pagination").show();
                        $("#RawDatas table thead tr:eq(0)").show();
                        updatePagingsearch(TotalRecs, PageIndex);
                        $('#Error').hide();
                    }
                    else {
                        $('.spnToRecs').text(0);
                        updatePagingsearch(TotalRecs, PageIndex);
                        if (TotalRecs = 'undefined') {
                            $('.errormessage').html('Data Not Found.');
                            $('#Error').show();
                            $("#RawDatas table thead tr:eq(0)").hide();
                            $("#RawDatas table tbody tr:eq(0)").hide();
                            $(".pagination").hide();
                        }
                    }
                



                    updatePagingsearch(TotalRecs, PageIndex);

                }
            });
    }






 function updatePaging(TotalRecs) {
            $('ul.pagination').html('');
            var liClone = $('ul.pagination');
     debugger;
     var pageSize = '@System.Configuration.ConfigurationManager.AppSettings["PageSize"].ToString()';
            //var pageSize = $('#PageSize').val();
            var NoPage = 1;
            if (parseInt(TotalRecs) > parseInt(pageSize)) {
                NoPage = parseInt(parseInt(TotalRecs) / parseInt(pageSize));
                if (parseFloat(parseInt(parseInt(TotalRecs) / parseInt(pageSize))) < parseFloat(parseInt(TotalRecs) / parseInt(pageSize))) {
                    NoPage = (parseInt(parseInt(TotalRecs) / parseInt(pageSize)) + 1);
                }
            }
            var lp = 0;//parseFloat(parseInt($('#HdnPageIndex').val()) / 5);
            if (parseFloat(parseInt($('#HdnPageIndex').val()) % 5) == 0) {
                lp = ((parseInt(parseInt($('#HdnPageIndex').val()) / 5) - 1) * 5);
            } else {
                lp = parseInt(parseInt($('#HdnPageIndex').val()) / 5) * 5;
            }
            var ind = 0;
            for (var i = 1; i <= NoPage; i++) {
                if ((parseInt(lp)) < i) {
                    if (parseInt($('#HdnPageIndex').val()) > 5 && $(liClone).find('li.previous').length == 0) {
                        $(liClone).append('<li class="paginate_button previous" aria-controls="DataTables_Table_0" tabindex="0" onclick="LoadPagingSortTableFill(' + "'" + (i - 1) + "'" + ')"><a href="#">Previous</a></li>');
                    }
                    if (ind < 5) {
                        if (i == parseInt($('#HdnPageIndex').val())) {
                            $(liClone).append('<li style=""><a href="#" onclick="LoadPagingSortTableFill(' + "'" + i + "'" + ')" class="current">' + i + '</a></li>');
                        } else {
                            $(liClone).append('<li style=""><a href="#" onclick="LoadPagingSortTableFill(' + "'" + i + "'" + ')">' + i + '</a></li>');
                        }
                    } else if ($(liClone).find('li.next').length == 0) {
                        $(liClone).append('<li class="paginate_button next " aria-controls="DataTables_Table_0" tabindex="0" onclick="LoadPagingSortTableFill(' + "'" + i + "'" + ')"><a href="#">Next</a></li>');
                    }
                    ind = ind + 1;
                }
            }
    }




        function LoadPagingSortTableFill(pageIndex)
        {
            var pageSize = '@System.Configuration.ConfigurationManager.AppSettings["PageSize"].ToString()';
        debugger;
        $('#HdnPageIndex').val(pageIndex);
        $.ajax({
            url: '@Url.Action("IndexvendorPagingInvited", "VendorManager")',
            cache: false,
            data: {
                PageSize: pageSize,
                PageIndex: pageIndex,
                Search: $('#txtsearch').val(),
                Sort: $("#HdnSortValue").val()
            },
            success: function (response)
            {
                $('.spnOfRecs').text(0);
                $('.spnTotalRecs').text(0);
                debugger;
                $("#RawDatas table tbody tr:not(:first)").remove();
                $("#RawDatas table tbody tr:eq(0)").show();
                if (parseInt(response.length) > 0) {
                    var curRecords = 0;
                    var TotalRecs = 0;
                    var spnToRecs = 0;
                    debugger;
                    curRecords = parseInt(($('#HdnPageIndex').val()) * parseInt(pageSize));
                    curRecords = curRecords - (pageSize - parseInt(response.length));
                    TotalRecs = parseInt(response[0].TotalRecords);
                    $('.spnOfRecs').text(curRecords);
                    $('.spnTotalRecs').text(TotalRecs);
                    for (var i = 0; i < response.length; i++) {
                        var table = $("#RawDatas table tbody tr:eq(0)").clone(true);
                        $(".name", table).html(response[i].LegalName);
                        $(".work", table).html(response[i].Work);
                        $(".title", table).html(response[i].Title);
                        $("#viewdata", table).attr('href', '/VendorManager/InvitedVendorView?CompanyKey=' + response[i].CompanyKey);
                        $("#RawDatas table").append(table);
                        spnToRecs++;
                    }
                }
                $("#RawDatas table tbody tr:eq(0)").hide();
                spnToRecs = (curRecords - spnToRecs) + 1;
                if (spnToRecs > 0) {
                    $('.spnToRecs').text(spnToRecs);
                }
                else {
                    $('.spnToRecs').text(0);
                }
                if(response.length > 0)
                    updatePaging(response[0].TotalRecords);
                $("#loading1").hide();
            }
        });
    }


  
    function validateInvite() {
        debugger;
        var error = document.getElementById("errormsg");
        error.style.display = "none";
        var comp = document.getElementById("CompanyKey").value;
        var file = document.getElementById("files").value;
        if (comp == "0") {
            error.innerHTML = "Please select management company.";
            error.style.display = "block";
            return false;
        }
        else if (file == null || file == "") {
            error.innerHTML = "Please select a File to upload.";
            error.style.display = "block";
            return false;
        }
        $('#global-loader').show();
        return true;
    }
    function refreshPopUp() {
        debugger;
        var error = document.getElementById("errormsg");
        var CompList = document.getElementById("CompanyKey");
        CompList.selectedIndex = 0;
        error.innerHTML = "";
        error.style.display = "none";
    }
    $("#downloadSample").click(function () {
        window.open("../VendorManager/DownloadSample");
    });

   

    $("#btnsearchVendor").click(function () {
        LoadSortTableFillWithSearch();
    });

    function uploadFile() {
        debugger;
        $('#global-loader').show();
        var files = $("#VendorFile")[0].files;
        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                }

                $.ajax({
                    type: "POST",
                    url: '/VendorManager/UploadVendor',
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (result) {
                        LoadSortTableFill();
                        //$('#global-loader').hide();
                    },
                    error: function (xhr, status, p3, p4) {
                        var err = "Error " + " " + status + " " + p3 + " " + p4;
                        if (xhr.responseText && xhr.responseText[0] == "{")
                            err = JSON.parse(xhr.responseText).Message;
                        //$('#global-loader').hide();
                    }
                });
            } else {
                alert("This browser doesn't support HTML5 file uploads!");
                $('#global-loader').hide();
            }
        }

    }
     function LoadSortTableFill() {
         debugger;
         $("#RawDatas table tbody tr:eq(0)").hide();
         var pageSize = '@System.Configuration.ConfigurationManager.AppSettings["PageSize"].ToString()';
        $.ajax({
            url: '@Url.Action("IndexvendorPagingInvited", "VendorManager")',
            cache: false,
            data: {
                PageSize: pageSize,
                PageIndex: $('#HdnPageIndex').val(),
                Search: $('#txtsearch').val(),
                Sort: $("#HdnSortValue").val()
            },
            success: function (response)
            {
                debugger;
                $('.spnOfRecs').text(0);
                $('.spnTotalRecs').text(0);
                $('.spnToRecs').text(0);
                $("#RawDatas table tbody tr:not(:first)").remove();
                //$("#RawDatas table tbody tr:eq(0)").show();
                $('.errormessage').html('');
                $('#Error').hide();
                $("#RawDatas table thead tr:eq(0)").show();
                if (parseInt(response.length) > 0) {
                    var curRecords = 0;
                    var TotalRecs = 0;
                    var spnToRecs = 0;
                    debugger;
                    curRecords = parseInt(($('#HdnPageIndex').val()) * parseInt(pageSize));
                    curRecords = curRecords - (pageSize - parseInt(response.length));
                    TotalRecs = parseInt(response[0].TotalRecords);
                    //alert("TotalRecs" + response[0].TotalRecords);
                    $('.spnOfRecs').text(curRecords);
                    $('.spnTotalRecs').text(TotalRecs);
                    for (var i = 0; i < response.length; i++) {
                        var table = $("#RawDatas table tbody tr:eq(0)").clone(true);
                        $(".name", table).html(response[i].LegalName);
                        $(".work", table).html(response[i].ContactPerson + " - " + formatPhoneNumber(response[i].Work));
                        $(".title", table).html(response[i].Title);
                        $("#viewdata", table).attr('href', '/VendorManager/InvitedVendorView?CompanyKey=' + response[i].CompanyKey);

                        $("#RawDatas table").append(table);
                        table.show();
                        spnToRecs++;
                    }
                } else {
                    $('.errormessage').html('Data  Not Found.');
                    $('#Error').show();
                    $("#RawDatas table thead tr:eq(0)").hide();
                    $("#RawDatas table tbody tr:eq(0)").hide();

                }
                //$("#RawDatas table tbody tr:eq(0)").hide();
               
                              

                spnToRecs = (curRecords - spnToRecs) + 1;
                if (spnToRecs > 0) {
                    $('.spnToRecs').text(spnToRecs);
                    $(".pagination").show();
                    $('#Error').hide();
                }
                else {
                   
                    $('.spnToRecs').text(0);
                    updatePaging(TotalRecs);
                    if (TotalRecs = 'undefined') {
                        $('.errormessage').html('Data  Not Found.');
                        $('#Error').show();
                        $("#RawDatas table thead tr:eq(0)").hide();
                        $("#RawDatas table tbody tr:eq(0)").hide();
                        $(".pagination").hide();
                    }
                }

                updatePaging(TotalRecs);
            }
        });
    }
    function Getdata() {
        $("#divSucces").hide();
        $("#divSucces").html('');
        $("#divError").hide();
        $("#divError").html('');
        $("#loading1").show();
        GetRecords();
    }
    function GetRecords() {
        debugger;
        var pageSize = '@System.Configuration.ConfigurationManager.AppSettings["PageSize"].ToString()';
        var CountVal = (parseInt($('#HdnPageIndex').val()) + 1);
        $('#HdnPageIndex').val();
        var index = parseInt(pageSize * CountVal);

        $("#loading1").show();
        $.ajax({
            type: "Get",
            url: "/VendorManager/IndexvendorPagingInvited",
            data:
            {
                PageSize: index,
                PageIndex: $('#HdnPageIndex').val(),
                Search: $('#txtsearch').val(),
                Sort: $("#HdnSortValue").val()
            },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: OnSuccess,
            failure: function (response) {
            },
            error: function (response) {
            }
        });
    }

    function LoadSortTableFillWithSearch() {
        var pageSize = '@System.Configuration.ConfigurationManager.AppSettings["PageSize"].ToString()';

        var txtName = $('#txtName').val();

        var txtProperty = $('#Title').val();

        var txtTitle = $('#ServiceTitle1').val();

        var txtsearch = "";
        if (txtName != "") {
            txtsearch = txtName;
        }
        else if (txtProperty != "") {
            txtsearch = Title;
        }
        else if (txtTitle != "") {
            txtsearch = ServiceTitle1;
        }
        $.ajax({
            url: '/VendorManager/IndexvendorPagingInvited',
            cache: false,
            data: {
                PageSize: pageSize,
                PageIndex: $('#HdnPageIndex').val(),
                Search: txtsearch,
                Sort: $("#HdnSortValue").val()
            },
            success: function (response) {
                $('.spnOfRecs').text(0);
                $('.spnTotalRecs').text(0);
                $('.spnToRecs').text(0);
                $("#RawDatas table tbody tr:not(:first)").remove();
                $("#RawDatas table tbody tr:eq(0)").show();
                $('.errormessage').html('');
                $('#Error').hide();
                $("#RawDatas table thead tr:eq(0)").show();
               
                if (response.length > 0) {
                    var curRecords = 0;
                    var TotalRecs = 0;
                    var spnToRecs = 0;
                    debugger;
                    curRecords = parseInt(($('#HdnPageIndex').val()) * parseInt(pageSize));
                    curRecords = curRecords - (pageSize - parseInt(response.length));
                    TotalRecs = parseInt(response[0].TotalRecords);
                    $('.spnOfRecs').text(curRecords);
                    $('.spnTotalRecs').text(TotalRecs);

                    for (var i = 0; i < response.length; i++) {
                        var table = $("#RawDatas table tbody tr:eq(0)").clone(true);
                        $(".name", table).html(response[i].LegalName);
                        $(".work", table).html(response[i].ContactPerson + " - " + formatPhoneNumber(response[i].Work));
                        $(".title", table).html(response[i].Title);
                        $("#viewdata", table).attr('href', '/VendorManager/InvitedVendorView?CompanyKey=' + response[i].CompanyKey);
                        $("#RawDatas table").append(table);
                        spnToRecs++;
                      
                    }                   
                }
                else {
                    $('.spnOfRecs').text(0);
                    $('.spnTotalRecs').text(0);
                    $('.errormessage').html('Data Is Not Found.');
                    $('#Error').show();
                    $("#RawDatas table thead tr:eq(0)").hide();
                   
                }
                
                $("#RawDatas table tbody tr:eq(0)").hide();

                spnToRecs = (curRecords - spnToRecs) + 1;
                if (spnToRecs > 0) {
                    $('.spnToRecs').text(spnToRecs);
                }
                else {
                    $('.spnToRecs').text(0);
                }

                if (response.length > 0)
                    updatePaging(response[0].TotalRecords);

            }
        });
    }

    function SortingFun(val) {

        $('#HdnPageIndex').val('1');
        var Sort = $('#SortValue').val();
        debugger;
        var ascdesc = 'fa-sort-asc';
        var ascdesc1 = 'fa-sort-desc';
        var ascdesc3 = 'fa-sort-asc';
        var ascdesc4 = 'fa-sort-desc';

        $('.loader-wrapper').show();
        var Sort = '';
        $('#HdnPageIndex').val('1');
        $('#Namei').removeClass(ascdesc4);
        $('#Namei').addClass(ascdesc3);

        $('#Worki').removeClass(ascdesc4);
        $('#Worki').addClass(ascdesc3);

        $('#Titlei').removeClass(ascdesc4);
        $('#Titlei').addClass(ascdesc3);

        debugger;
        //-----------------------------------------------------------
        if (val == 'Name') {
            if ($('#Namehdn').val() == 'asc') {
                Sort = 'order by u.Name desc';
                $('#Namehdn').val('desc');
                $('#Namei').removeClass(ascdesc);
                $('#Namei').addClass(ascdesc1);
            }
            else {
                Sort = 'order by u.Name asc';
                $('#Namehdn').val('asc');
                $('#Namei').removeClass(ascdesc1);
                $('#Namei').addClass(ascdesc);
            }
        }
        //-------------------------------------------------
        if (val == 'Contact') {
            if ($('#Workhdn').val() == 'asc') {
                Sort = 'order by r.FirstName desc';
                $('#Workhdn').val('desc');
                $('#Worki').removeClass(ascdesc);
                $('#Worki').addClass(ascdesc1);
            }
            else {
                Sort = 'order by r.FirstName asc';
                $('#Workhdn').val('asc');
                $('#Worki').removeClass(ascdesc1);
                $('#Worki').addClass(ascdesc);
            }
        }
        //-------------------------------------------------------
        if (val == 'Title') {
            if ($('#Titlehdn').val() == 'asc') {
                Sort = 'order by s.Title desc';
                $('#Titlehdn').val('desc');
                $('#Titlei').removeClass(ascdesc);
                $('#Titlei').addClass(ascdesc1);
            }
            else {
                Sort = 'order by s.Title asc';
                $('#Titlehdn').val('asc');
                $('#Titlei').removeClass(ascdesc1);
                $('#Titlei').addClass(ascdesc);
            }
        }


        $("#HdnSortValue").val(Sort);
        $('.loader-wrapper').show();
        LoadSortTableFill();
    }

    function OnSuccess(response) {
        var pageSize = '@System.Configuration.ConfigurationManager.AppSettings["PageSize"].ToString()';
        debugger;

        $('.spnOfRecs').text(0);
        $('.spnTotalRecs').text(0);
        $('.spnToRecs').text(0);
        $("#RawDatas table tbody tr:not(:first)").remove();
        $("#RawDatas table tbody tr:eq(0)").show();
        $('.errormessage').html('');
        $('#Error').hide();
        $("#RawDatas table thead tr:eq(0)").show();
        if (parseInt(response.length) > 0) {
            var curRecords = 0;
            var TotalRecs = 0;
            var spnToRecs = 0;
            debugger;
            curRecords = parseInt(($('#HdnPageIndex').val()) * parseInt(pageSize));
            curRecords = curRecords - (pageSize - parseInt(response.length));
            TotalRecs = parseInt(response[0].TotalRecords);
            $('.spnOfRecs').text(curRecords);
            $('.spnTotalRecs').text(TotalRecs);
            for (var i = 0; i < response.length; i++) {
                var table = $("#RawDatas table tbody tr:eq(0)").clone(true);
                $(".name", table).html(response[i].LegalName);
                $(".work", table).html(response[i].ContactPerson + " - " + formatPhoneNumber(response[i].Work));
                $(".title", table).html(response[i].Title);
                $("#viewdata", table).attr('href', '/VendorManager/InvitedVendorView?CompanyKey=' + response[i].CompanyKey);
                $("#RawDatas table").append(table);
                spnToRecs++;
            }
        } else {
            $('.errormessage').html('Data Is Not Found.');
            $('#Error').show();
            $("#RawDatas table thead tr:eq(0)").hide();
            $("#RawDatas table tbody tr:eq(0)").hide();
        }
        $("#RawDatas table tbody tr:eq(0)").hide();
        spnToRecs = (curRecords - spnToRecs) + 1;
        if (spnToRecs > 0) {
            $('.spnToRecs').text(spnToRecs);
        }
        else {
            $('.spnToRecs').text(0);
        }

        if (response.length > 0)
            updatePaging(response[0].TotalRecords);
        $("#loading1").hide();
    }


</script>