@{
    ViewBag.Title = "PMBidRequestList";
    Layout = "~/Views/Shared/_PropertyManagerLayout.cshtml";
    string Errormessage = Convert.ToString(ViewData["Errormessage"]);
}

<h2>PMBidRequestList</h2>
<script src="../assets/js/vendors/jquery-3.2.1.min.js"></script>
<!-- app-content-->
<div class="app-content  my-3 my-md-5">
    <div class="side-app">

        <!-- page-header -->
        <div class="page-header">
            <ol class="breadcrumb">
                <!-- breadcrumb -->
                <li class="breadcrumb-item"><a href="~/PMDashboard/Dashboard">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Bid Requests</li>
            </ol><!-- End breadcrumb -->
        </div>
        @if (TempData["Sucessmessage"] != null)
        {
        <p class="alert alert-success alert-dismissible" id="successMessage">
            @TempData["Sucessmessage"]
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        </p>
        }
        @if (TempData["delete"] != null)
        {
        <p class="alert alert-danger alert-dismissible" id="successMessage">
            @TempData["delete"]
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        </p>
        }

        <div role="alert">
            @*<div class="alert alert-danger" id="Error" style="display: none;margin-top: 20px;">
                <strong><span class="errormessage"></span></strong>
            </div>*@
            @if (!string.IsNullOrEmpty(Errormessage))
            {
            <div class="alert alert-danger" style="margin-top: 20px;">
                <strong><span>@Errormessage</span></strong>
            </div>
            }
        </div>
        <!-- End page-header -->
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">

                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4 col-xl-4 mb15">
                                    <input type="text" id="txtsearch" class="form-control" placeholder="Search for...">
                                </div>
                                <div class="col-lg-4 col-xl-4">
                                    <a class="btn btn-secondary" id="btnsearch" href="#" role="button">Search</a>
                                    <span class="advance_search btn_advsearch" onclick="toggle_visibility('advancesearch2');"><i class="fe fe-chevron-down"></i></span>

                                </div>
                                <div class="col-lg-4 col-xl-4">
                                    <div class="btn_group_div text-right">
                                        <a href="~/PMBidRequests/PMBidRequestAdd" class="btn btn-primary">+ Add Bid Request</a>
                                    </div>
                                </div>
                            </div>
                        </div><!-- end of form group -->

                        <div id="advancesearch3">
                            <div class="overlayclose"><i class="fa fa-times"></i></div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label class="form-label">Property Name</label>
                                        @Html.DropDownList("Property", new SelectList(ViewBag.lstProperty, "Value", "Text"), new { @tabindex = "1", @data_rel = "Choose_one", @class = "form-control", placeholder = "Select property..." })
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label">Bid Request Status</label>
                                        @Html.DropDownList("ddlBidRequestStatus", new SelectList(ViewBag.lstBidReqStatus, "Value", "Text"), new { @tabindex = "1", @data_rel = "Choose_one", @class = "form-control", placeholder = "Select property..." })
                                        @*<input class="form-control" id="txtVendorName" placeholder="Vendor Name" />*@
                                    </div>
                                    <div class="col-md-3">
                                        <label class="form-label">&nbsp;</label>
                                        <button type="button" id="btnAdvancesearch" class="btn btn-sm btn-primary btn-icon-text">
                                            Search
                                        </button>
                                    </div>
                                    <div class="alert alert-danger" id="Error" style="display:block; margin-top: 20px;">
                                        <strong><span class="errormessage"></span></strong>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr />

                        <div id="RawDatas" class="table-responsive">
                            <table id="dataTableExample" class="table table-bordered text-nowrap w-100 dataTable no-footer">
                                <thead>
                                    <tr>
                                        @*
                                        <th>Title</th>
                                        <th>Response Date</th>
                                        <th>Bid Due Date</th>
                                        <th>#No. of Bids</th>
                                        <th>Bid Request Status</th>
                                        <th align="center" class="text-center">Action</th>*@
                                        <th width="15%" onclick="SortingFun('Title');" style="cursor: pointer;">
                                            <i id="Titlei" class="fa fa-sort-asc pull-right"></i>
                                            Title
                                        </th>
                                        <th width="15%" onclick="SortingFun('PropertyName');" style="cursor: pointer;">
                                            <i id="PropertyNamei" class="fa fa-sort-asc pull-right"></i>
                                            Property Name
                                        </th>
                                        <th width="15%" onclick="SortingFun('StartDate');" style="cursor: pointer;">
                                            <i id="StartDatei" class="fa fa-sort-asc pull-right"></i>
                                            Start Date
                                        </th>
                                        <th width="15%" onclick="SortingFun('BidDueDate');" style="cursor: pointer;">
                                            <i id="BidDueDatei" class="fa fa-sort-asc pull-right"></i>
                                            Bid Due Date
                                        </th>
                                        <th width="15%" onclick="SortingFun('NoofBids');" style="cursor: pointer;">
                                            <i id="NoofBidsi" class="fa fa-sort-asc pull-right"></i>
                                            #No. of Bids
                                        </th>
                                        <th width="15%" onclick="SortingFun('BidRequestStatus');" style="cursor: pointer;">
                                            <i id="BidRequestStatusi" class="fa fa-sort-asc pull-right"></i>
                                            Bid Request Status
                                        </th>
                                        <th width="15%" onclick="SortingFun('Action');" style="cursor: pointer;" align="center" class="text-center">

                                            Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><span class="title"></span></td>
                                        <td><span class="PropertyName"></span></td>
                                        <td><span class="StartDate"></span></td>
                                        <td><span class="bidDueDate"></span></td>
                                        <td><a href="#"><span class="noofBids"></span></a></td>
                                        <td><span class="bidRequestStatus"></span></td>
                                        <td align="center"><a id="viewdata" role="button"><i class="fe fe-eye font18"></i></a></td>
                                    </tr>

                                </tbody>
                            </table>
                            <div class="pull-left">
                                <label><span class="spnToRecs">0</span> to <span class="spnOfRecs">0</span> out of <span class="spnTotalRecs">0</span>&nbsp; Records </label>
                            </div>
                            <div class="dataTables_paginate paging_simple_numbers" id="pagin">
                                <ul class="pagination"></ul>

                            </div>
                        </div>
                    </div>
                    <div class="pagination" style="display:none;">
                        <input type="hidden" id="HdnSortValue" value="order by Title asc" />
                        <input type="hidden" id="HdnPageIndex" value="1" />
                        <div style="float: right; line-height: 13px; padding: 1px 10px 1px 5px;">
                            <select id="PageSize">
                                <option selected="selected" value="10">10</option>
                                <option value="30">30</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                            <span style="line-height: 25px; vertical-align: top;">Records/Page</span>
                        </div>
                        <input type="hidden" id="Titlehdn" value="asc" />
                        <input type="hidden" id="StartDatehdn" value="asc" />
                        <input type="hidden" id="BidDueDatehdn" value="asc" />
                        <input type="hidden" id="NoofBidshdn" value="asc" />
                        <input type="hidden" id="PropertyNamehdn" value="asc" />
                        <input type="hidden" id="BidRequestStatushdn" value="asc" />
                        <input type="hidden" id="TotalPageRecord" value='0' />
                    </div>
                </div>
            </div>
        </div>
    </div><!--End side app-->
    <!--footer-->
    <footer class="footer">
        <div class="container">
            <div class="row align-items-center flex-row-reverse">
                <div class="col-lg-12 col-sm-12   text-center">
                    Copyright © 2020 Association Bids. All rights reserved.
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer-->

</div>
<!-- End app-content-->

<script type="text/javascript">
    $(document).ready(function () {
        $(".advance_search").click(function () {
            $("#advancesearch2").toggle(500);
        });
        $(".overlayclose").click(function () {
            $("#advancesearch2").hide();
        });
        $('#loader').hide();
        $('#divSuccess').hide();

        LoadSortTableFill();
        checkPoratl()
    });


    function checkPoratl() {
        $.ajax({
            url: '@Url.Action("checkPortal", "PMProperties")',
            cache: false,
            data:
            {
                PropertyKey: $('#PropertyKey').val()
            },
            success: function (response) {
                debugger;

                if (response == false) {
                    window.location.href = '@Url.Action("Index", "Login")';
                }

                else {

                }

            }
        });
    }

    function updatePaging(TotalRecs) {
        $('ul.pagination').html('');
        var liClone = $('ul.pagination');
        debugger;
        var pageSize = '@System.Configuration.ConfigurationManager.AppSettings["PageSize"].ToString()';
        //var pageSize = $('#PageSize').val();
        var NoPage = 1;
        if (parseInt(TotalRecs) > parseInt(pageSize)) {
            NoPage = parseInt(parseInt(TotalRecs) / parseInt(pageSize));
            if (parseFloat(parseInt(parseInt(TotalRecs) / parseInt(pageSize))) < parseFloat(parseInt(TotalRecs) / parseInt(pageSize))) {
                NoPage = (parseInt(parseInt(TotalRecs) / parseInt(pageSize)) + 1);
            }
        }

        var lp = 0;//parseFloat(parseInt($('#HdnPageIndex').val()) / 5);
        if (parseFloat(parseInt($('#HdnPageIndex').val()) % 5) == 0) {
            lp = ((parseInt(parseInt($('#HdnPageIndex').val()) / 5) - 1) * 5);
        } else {
            lp = parseInt(parseInt($('#HdnPageIndex').val()) / 5) * 5;
        }

        var ind = 0;
        for (var i = 1; i <= NoPage; i++) {
            if ((parseInt(lp)) < i) {
                if (parseInt($('#HdnPageIndex').val()) > 5 && $(liClone).find('li.previous').length == 0) {
                    $(liClone).append('<li class="paginate_button previous" aria-controls="DataTables_Table_0" tabindex="0" onclick="LoadPagingSortTableFill(' + "'" + (i - 1) + "'" + ')"><a href="#">Previous</a></li>');
                }
                if (ind < 5) {
                    if (i == parseInt($('#HdnPageIndex').val())) {
                        $(liClone).append('<li style=""><a href="#" onclick="LoadPagingSortTableFill(' + "'" + i + "'" + ')" class="current">' + i + '</a></li>');
                    } else {
                        $(liClone).append('<li style=""><a href="#" onclick="LoadPagingSortTableFill(' + "'" + i + "'" + ')">' + i + '</a></li>');
                    }
                } else if ($(liClone).find('li.next').length == 0) {
                    $(liClone).append('<li class="paginate_button next " aria-controls="DataTables_Table_0" tabindex="0" onclick="LoadPagingSortTableFill(' + "'" + i + "'" + ')"><a href="#">Next</a></li>');
                }
                ind = ind + 1;
            }
        }



    }
    function LoadPagingSortTableFill(pageIndex) {
        var pageSize = '@System.Configuration.ConfigurationManager.AppSettings["PageSize"].ToString()';

        $('#HdnPageIndex').val(pageIndex);
        var ddlProperty = $('#Property').val();
        var ddlStatus = $('#ddlBidRequestStatus').val();
        $.ajax({
            url: '@Url.Action("IndexreStaffPaging", "PMBidRequests")',
            cache: false,
            data: {
                PageSize: pageSize,
                PageIndex: pageIndex,
                Modulekey: 100,
                Search: $('#txtsearch').val(),
                Sort: $("#HdnSortValue").val(),
                PropertyKey: ddlProperty,
                BidRequestStatus: ddlStatus
            },
            success: function (response) {

                $('.spnOfRecs').text(0);
                $('.spnTotalRecs').text(0);
                $('.spnToRecs').text(0);

                if (parseInt(response.length) > 0) {

                    var curRecords = 0;
                    var TotalRecs = 0;
                    var spnToRecs = 0;
                    curRecords = parseInt(($('#HdnPageIndex').val()) * parseInt(pageSize));
                    curRecords = curRecords - (pageSize - parseInt(response.length));
                    TotalRecs = parseInt(response[0].TotalRecords);
                    $('.spnOfRecs').text(curRecords);
                    $('.spnTotalRecs').text(TotalRecs);

                }

                $("#RawDatas table tbody tr:not(:first)").remove();
                $("#RawDatas table tbody tr:eq(0)").show();

                for (var i = 0; i < response.length; i++) {
                    var table = $("#RawDatas table tbody tr:eq(0)").clone(true);
                    $(".title", table).html(response[i].Title);

                    $(".StartDate", table).html(response[i].StartDates);

                    $(".bidDueDate", table).html(response[i].BidDueDates);

                    $(".noofBids", table).html(response[i].NoofBids);

                    $(".bidRequestStatus", table).html(response[i].BidReqStatus);

                    $(".PropertyName", table).html(response[i].Property);
                    if (response[i].NewMessageCount > 0) {
                        $("#viewdata i", table).removeClass("fe fe-eye font18");
                        $("#viewdata i", table).addClass("fa fa-bell faa-ring animated redtxt");

                    }
                    $("#viewdata", table).attr('href', '/PMBidRequests/PMBidRequestView?BidRequestKey=' + response[i].BidRequestKey);

                    $("#RawDatas table").append(table);
                    spnToRecs++;
                }

                $("#RawDatas table tbody tr:eq(0)").hide();

                spnToRecs = (curRecords - spnToRecs) + 1;
                if (spnToRecs > 0) {
                    $('.spnToRecs').text(spnToRecs);
                }
                else {
                    $('.spnToRecs').text(0);
                }

                updatePaging(response[0].TotalRecords);
            }
        });
    }
    $("#btnsearch").click(function () {
        debugger;
        LoadSortTableFill();
    });

    $("#btnAdvancesearch").click(function () {
        LoadSortTableFillWithSearch();
    });

    function LoadSortTableFill() {
        var pageSize = '@System.Configuration.ConfigurationManager.AppSettings["PageSize"].ToString()';

        var ddlProperty = $('#Property').val();
        var ddlStatus = $('#ddlBidRequestStatus').val();
        $.ajax({
            url: '@Url.Action("IndexreStaffPaging", "PMBidRequests")',
            cache: false,
            data: {
                PageSize: pageSize,
                PageIndex: $('#HdnPageIndex').val(),
                Modulekey: 100,
                Search: $('#txtsearch').val(),
                Sort: $("#HdnSortValue").val(),
                PropertyKey: ddlProperty,
                BidRequestStatus: ddlStatus
            },
            success: function (response) {
                $('.spnOfRecs').text(0);
                $('.spnTotalRecs').text(0);
                $('.spnToRecs').text(0);

                if (parseInt(response.length) > 0) {

                    var curRecords = 0;
                    var TotalRecs = 0;
                    var spnToRecs = 0;
                    curRecords = parseInt(($('#HdnPageIndex').val()) * parseInt(pageSize));
                    curRecords = curRecords - (pageSize - parseInt(response.length));
                    TotalRecs = parseInt(response[0].TotalRecords);
                    $('.spnOfRecs').text(curRecords);
                    $('.spnTotalRecs').text(TotalRecs);

                }

                $("#RawDatas table tbody tr:not(:first)").remove();
                $("#RawDatas table tbody tr:eq(0)").show();

                for (var i = 0; i < response.length; i++) {
                    var table = $("#RawDatas table tbody tr:eq(0)").clone(true);
                    $(".title", table).html(response[i].Title);
                    $(".StartDate", table).html(response[i].StartDates);
                    $(".bidDueDate", table).html(response[i].BidDueDates);
                    $(".noofBids", table).html(response[i].NoofBids);
                    $(".bidRequestStatus", table).html(response[i].BidReqStatus);
                    $(".PropertyName", table).html(response[i].Property);
                    if (response[i].NewMessageCount > 0) {
                        $("#viewdata i", table).removeClass("fe fe-eye font18");
                        $("#viewdata i", table).addClass("fa fa-bell faa-ring animated redtxt");

                    }
                    //NewMessageCount

                    $("#viewdata", table).attr('href', '/PMBidRequests/PMBidRequestView?BidRequestKey=' + response[i].BidRequestKey);
                    $("#RawDatas table").append(table);
                    spnToRecs++;
                }

                $("#RawDatas table tbody tr:eq(0)").hide();

                spnToRecs = (curRecords - spnToRecs) + 1;
                if (spnToRecs > 0) {
                    $('.spnToRecs').text(spnToRecs);
                }
                else {
                    $('.spnToRecs').text(0);
                }
                if (curRecords.text == "NaN") {

                    $('.errormessage').html('Data Is Not Found.');
                    $('#Error').show();
                    $("#RawDatas table thead tr:eq(0)").hide();
                    $("#RawDatas table tbody tr:eq(0)").hide();
                }
                else {
                    updatePaging(response[0].TotalRecords);
                }
            }
        });
    }

    function Getdata() {

        $("#divSucces").hide();
        $("#divSucces").html('');
        $("#divError").hide();
        $("#divError").html('');
        $("#loading1").show();


        GetRecords();
    }

    function GetRecords() {

        var pageSize = '@System.Configuration.ConfigurationManager.AppSettings["PageSize"].ToString()';

        var SearchVal = $('#SearchVal').val();

        //SearchVal = SearchVal.replace("'", "''");

        $("#divSucces").hide();
        $("#divSucces").html('');
        $("#divError").hide();
        $("#divError").html('');
        var hdnPageIndex = parseInt($('#HdnPageIndex').val());

        var CountVal = hdnPageIndex + 1;

        var Index = (parseInt(pageSize) * CountVal);

        $('#HdnPageIndex').val(CountVal);
        //var sort = $("#HdnSortValue").val();
        $("#loading1").show();

        var ddlProperty = $('#Property').val();
        var ddlStatus = $('#ddlBidRequestStatus').val();
        $.ajax({
            type: "Get",
            url: "/PMBidsRequests/IndexreStaffPaging",
            data: {
                PageSize: Index,
                PageIndex: 1,
                Modulekey: 100,
                Search: $('#txtsearch').val(),
                Sort: $("#HdnSortValue").val(),
                PropertyKey: ddlProperty,
                BidRequestStatus: ddlStatus
            },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: OnSuccess,
            failure: function (response) {
            },
            error: function (response) {
            }
        });
    }

    function LoadSortTableFillWithSearch() {
        var ddlProperty = $('#Property').val();

        var pageSize = '@System.Configuration.ConfigurationManager.AppSettings["PageSize"].ToString()';

        var ddlStatus = $('#ddlBidRequestStatus').val();
        //var ddlStatus = $('#ddlStatus').val();
        var txtsearch = $('#txtsearch').val();

        $.ajax({
            url: '/PMBidRequests/IndexreStaffPaging',
            cache: false,
            data: {
                PageSize: pageSize,
                PageIndex: $('#HdnPageIndex').val(),
                Search: txtsearch,
                Modulekey: 100,
                Sort: $("#HdnSortValue").val(),
                PropertyKey: ddlProperty,
                BidRequestStatus: ddlStatus
            },
            success: function (response) {
                $('.spnOfRecs').text(0);
                $('.spnTotalRecs').text(0);
                $('.spnToRecs').text(0);
                if (response.length > 0) {
                    var curRecords = 0;
                    var TotalRecs = 0;
                    var spnToRecs = 0;
                    curRecords = parseInt(($('#HdnPageIndex').val()) * parseInt(pageSize));
                    curRecords = curRecords - (pageSize - parseInt(response.length));
                    TotalRecs = parseInt(response[0].TotalRecords);
                    $('.spnOfRecs').text(curRecords);
                    $('.spnTotalRecs').text(TotalRecs);

                }
                else {
                    $('.spnOfRecs').text(0);
                    $('.spnTotalRecs').text(0);
                }

                $("#RawDatas table tbody tr:not(:first)").remove();
                $("#RawDatas table tbody tr:eq(0)").show();

                for (var i = 0; i < response.length; i++) {
                    var table = $("#RawDatas table tbody tr:eq(0)").clone(true);

                    $(".title", table).html(response[i].Title);
                    $(".StartDate", table).html(response[i].StartDates);
                    $(".bidDueDate", table).html(response[i].BidDueDates);
                    $(".noofBids", table).html(response[i].NoofBids);
                    $(".bidRequestStatus", table).html(response[i].BidReqStatus);
                    $(".PropertyName", table).html(response[i].Property);
                    if (response[i].NewMessageCount > 0) {
                        $("#viewdata i", table).removeClass("fe fe-eye font18");
                        $("#viewdata i", table).addClass("fa fa-bell faa-ring animated redtxt");

                    }
                    $("#viewdata", table).attr('href', '/StaffDirectory/StaffDirectoryView?ResourceKey=' + response[i].BidRequestKey);
                    $("#RawDatas table").append(table);
                    spnToRecs++;
                }

                $("#RawDatas table tbody tr:eq(0)").hide();

                spnToRecs = (curRecords - spnToRecs) + 1;
                if (spnToRecs > 0) {
                    $('.spnToRecs').text(spnToRecs);
                }
                else {
                    $('.spnToRecs').text(0);
                }

                updatePaging(response[0].TotalRecords);
            }
        });
    }
    function SortingFun(val) {

        var ascdesc = 'fa-sort-asc';
        var ascdesc1 = 'fa-sort-desc';
        var ascdesc3 = 'fa-sort-asc';
        var ascdesc4 = 'fa-sort-desc';

        $('.loader-wrapper').show();
        var Sort = '';
        $('#HdnPageIndex').val('1');
        $('#Titlei').removeClass(ascdesc4);
        $('#Titlei').addClass(ascdesc3);

        $('#StartDatei').removeClass(ascdesc4);
        $('#StartDatei').addClass(ascdesc3);

        $('#BidDueDatei').removeClass(ascdesc4);
        $('#BidDueDatei').addClass(ascdesc3);

        $('#NoofBidsi').removeClass(ascdesc4);
        $('#NoofBidsi').addClass(ascdesc3);

        $('#BidRequestStatusi').removeClass(ascdesc4);
        $('#BidRequestStatusi').addClass(ascdesc3);


        $('#PropertyNamei').removeClass(ascdesc4);
        $('#PropertyNamei').addClass(ascdesc3);
        //-----------------------------------------------------------
        debugger;
        if (val == 'Title') {
            if ($('#Titlehdn').val() == 'asc') {
                Sort = 'order by Title desc';
                $('#Titlehdn').val('desc');
                $('#Titlei').removeClass(ascdesc);
                $('#Titlei').addClass(ascdesc1);
            }
            else {
                Sort = 'order by Title asc';
                $('#Titlehdn').val('asc');
                $('#Titlei').removeClass(ascdesc1);
                $('#Titlei').addClass(ascdesc);
            }
        }
        if (val == 'PropertyName') {
            if ($('#PropertyNamehdn').val() == 'asc') {
                Sort = 'order by PropertyName desc';
                $('#PropertyNamehdn').val('desc');
                $('#PropertyNamei').removeClass(ascdesc);
                $('#PropertyNamei').addClass(ascdesc1);
            }
            else {
                Sort = 'order by NoofBids asc';
                $('#PropertyNamehdn').val('asc');
                $('#PropertyNamei').removeClass(ascdesc1);
                $('#PropertyNamei').addClass(ascdesc);
            }
        }
        //-------------------------------------------------
        if (val == 'StartDate') {
            if ($('#StartDatehdn').val() == 'asc') {
                Sort = 'order by StartDate desc';
                $('#StartDatehdn').val('desc');
                $('#StartDatei').removeClass(ascdesc);
                $('#StartDatei').addClass(ascdesc1);
            }
            else {
                Sort = 'order by StartDate asc';
                $('#StartDatehdn').val('asc');
                $('#StartDatei').removeClass(ascdesc1);
                $('#StartDatei').addClass(ascdesc);
            }
        }
        //-------------------------------------------------------
        if (val == 'BidDueDate') {
            if ($('#BidDueDatehdn').val() == 'asc') {
                Sort = 'order by BidDueDate desc';
                $('#BidDueDatehdn').val('desc');
                $('#BidDueDatei').removeClass(ascdesc);
                $('#BidDueDatei').addClass(ascdesc1);
            }
            else {
                Sort = 'order by BidDueDate asc';
                $('#BidDueDatehdn').val('asc');
                $('#BidDueDatei').removeClass(ascdesc1);
                $('#BidDueDatei').addClass(ascdesc);
            }
        }
        //---------------------------------------------------------
        if (val == 'NoofBids') {
            if ($('#NoofBidshdn').val() == 'asc') {
                Sort = 'order by NoofBids desc';
                $('#NoofBidshdn').val('desc');
                $('#NoofBidsi').removeClass(ascdesc);
                $('#NoofBidsi').addClass(ascdesc1);
            }
            else {
                Sort = 'order by NoofBids asc';
                $('#NoofBidshdn').val('asc');
                $('#NoofBidsi').removeClass(ascdesc1);
                $('#NoofBidsi').addClass(ascdesc);
            }
        }
        //--------------------------------------------------------------
        if (val == 'BidRequestStatus') {
            if ($('#BidRequestStatushdn').val() == 'asc') {
                Sort = 'order by BidRequestStatus desc';
                $('#BidRequestStatushdn').val('desc');
                $('#BidRequestStatusi').removeClass(ascdesc);
                $('#BidRequestStatusi').addClass(ascdesc1);
            }
            else {
                Sort = 'order by BidRequestStatus asc';
                $('#BidRequestStatushdn').val('asc');
                $('#BidRequestStatusi').removeClass(ascdesc1);
                $('#BidRequestStatusi').addClass(ascdesc);
            }
        }
        //--------------------------------------------------------------

        $("#HdnSortValue").val(Sort);
        $('.loader-wrapper').show();
        LoadSortTableFill();
    }

    function OnSuccess(response) {
        var pageSize = '@System.Configuration.ConfigurationManager.AppSettings["PageSize"].ToString()';

        $('.spnOfRecs').text(0);
        $('.spnTotalRecs').text(0);
        $('.spnToRecs').text(0);

        if (parseInt(response.length) > 0) {

            var curRecords = 0;
            var TotalRecs = 0;
            var spnToRecs = 0;
            curRecords = parseInt(1 * parseInt(pageSize));
            curRecords = curRecords - (pageSize - parseInt(response.length));
            TotalRecs = parseInt(response[0].TotalRecords);
            $('.spnOfRecs').text(curRecords);
            $('.spnTotalRecs').text(TotalRecs);
        }
        $("#RawDatas table tbody tr:not(:first)").remove();
        $("#RawDatas table tbody tr:eq(0)").show();


        for (var i = 0; i < response.length; i++) {
            var table = $("#RawDatas table tbody tr:eq(0)").clone(true);
            $(".title", table).html(response[i].FirstName + ' ' + response[i].LastName);
            $(".StartDate", table).html(response[i].StartDates);
            $(".bidDueDate", table).html(response[i].Email);
            $(".noofBids", table).css("color", "red");
            $(".BidRequestStatus", table).css("color", "green");
            $(".PropertyName", table).html(response[i].Property);
            if (response[i].NewMessageCount > 0) {
                $("#viewdata i", table).removeClass("fe fe-eye font18");
                $("#viewdata i", table).addClass("fa fa-bell faa-ring animated redtxt");

            }
            $("#viewdata", table).attr('href', '/StaffDirectory/StaffDirectoryView?ResourceKey=' + response[i].BidRequestKey);
            $("#RawDatas table").append(table);
            spnToRecs++;
        }

        $("#RawDatas table tbody tr:eq(0)").hide();

        spnToRecs = (curRecords - spnToRecs) + 1;
        if (spnToRecs > 0) {
            $('.spnToRecs').text(spnToRecs);
        }
        else {
            $('.spnToRecs').text(0);
        }

        updatePaging(response[0].TotalRecords);
        $("#loading1").hide();
    }

    function ToJavaScriptDate(value) {
        var pattern = /Date\(([^)]+)\)/;
        var results = pattern.exec(value);
        var dt = new Date(parseFloat(results[1]));
        return (dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear();
    }
</script>