@{
    ViewBag.Title = "AgreementList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Errormessage = Convert.ToString(ViewData["Errormessage"]);
}

<h2>AgreementList</h2>

<script src="~/Content/themes/assets/js/vendors/jquery-3.2.1.min.js"></script>
<!-- app-content-->
<div class="app-content  my-3 my-md-5">
    <div class="side-app">
        <!-- page-header -->
        <div class="page-header">
            <ol class="breadcrumb">
                <!-- breadcrumb -->
                <li url="~/index" class="breadcrumb-item"><a href="~/PMDashboard/Dashboard">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Agreements</li>
            </ol><!-- End breadcrumb -->

        </div>
        @if (TempData["Sucessmessage"] != null)
        {
        <p class="alert alert-success alert-dismissible" id="successMessage">
            @TempData["Sucessmessage"]
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        </p>
        }
        @if (TempData["delete"] != null)
        {
        <p class="alert alert-danger alert-dismissible" id="successMessage">
            @TempData["delete"]
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        </p>
        }

        <div role="alert">

            @if (!string.IsNullOrEmpty(Errormessage))
            {
            <div class="alert alert-danger" style="margin-top: 20px;">
                <strong><span>@Errormessage</span></strong>
            </div>
            }
        </div>
        <!-- End page-header -->
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4 col-xl-4 mb15">
                                    <input type="text" class="form-control" id="txtsearch" placeholder=" Title">
                                </div>
                                <div class="col-lg-4 col-xl-4">
                                    <a class="btn btn-secondary" href="#" id="btnsearch" role="button">Search</a>
                                    <span class="advance_search btn_advsearch" onclick="toggle_visibility('advancesearch2');"><i class="fe fe-chevron-down"></i></span>

                                </div>
                                <div class="col-lg-4 col-xl-4">
                                    <div class="btn_group_div text-right">
                                        <a href="~/Agreement/AgreementAdd" class="btn btn-primary">+ Add Agreement</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="advancesearch3">
                            <div class="overlayclose"><i class="fa fa-times"></i></div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="form-label">Agreement Title</label>
                                        <input class="form-control" id="txtFirstName" placeholder="Agreement Title" />
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label">Status</label>
                                        <select id="ddlStatus" class="form-control select2 custom-select" data-placeholder="Choose one">
                                            @*
                                            <option label="Choose one"></option>*@
                                            <option value="3">All</option>
                                            <option value="2">InActive</option>
                                            <option value="1">Active</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="form-label">&nbsp;</label>
                                        <button type="button" id="btnsearchVendor" class="btn btn-sm btn-primary btn-icon-text">
                                            Search
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="alert alert-danger" id="Error" style="display:block; margin-top: 20px;">
                            <strong><span class="errormessage"></span></strong>
                        </div>
                        <hr />
                        <div id="RawDatas" class="table-responsive">
                            <table id="dataTableExample" class="table table-striped table-bordered text-nowrap w-100 dataTable no-footer">
                                <thead>
                                    <tr>
                                        @*
                                        <th width="30%" onclick="SortingFun('Title');" style="cursor: pointer;">
                                            <i id="Titlei" class="fa fa-sort-asc pull-right"></i>
                                            Agreement Title
                                        </th>*@
                                        <th width="30%" onclick="SortingFun('Title');" style="cursor: pointer;">
                                            <i id="Titlei" class="fa fa-sort-asc pull-right"></i>
                                            Agreement Title
                                        </th>
                                        <th width="30%" onclick="SortingFun('AgreementDate');" style="cursor: pointer;">
                                            <i id="AgreementDatei" class="fa fa-sort-asc pull-right"></i>
                                            Agreement Date
                                        </th>
                                        <th width="15%" align="center" class="text-center" onclick="SortingFun('Status');" style="cursor: pointer;">
                                            <i id="Statusi" class="fa fa-sort-asc pull-right"></i>
                                            Status
                                        </th>
                                        @*
                                        <th width="30%" onclick="SortingFun('Description');" style="cursor: pointer;">
                                            <i id="Descriptioni" class="fa fa-sort-asc pull-right"></i>
                                            Description
                                        </th>*@

                                        <th width="10%">
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>

                                        <td><span class="Title"></span></td>
                                        <td><span class="AgreementDate"></span></td>
                                        <td align="center"><a id="status" role="button"><i id="statuscss" class="fa fa-circle"></i></a></td>
                                        @*
                                        <td><span class="Description"></span></td>*@
                                        <td align="center"><a id="viewdata" title="View Details" role="button"><i class="fe fe-eye font18"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="pull-left">
                                <label> <span class="spnToRecs">0</span> to <span class="spnOfRecs">0</span> out of <span class="spnTotalRecs">0</span>&nbsp; Records </label>
                            </div>
                            <div class="dataTables_paginate paging_simple_numbers" id="pagin">
                                <ul class="pagination"></ul>
                            </div>
                        </div>
                    </div>
                    <div style="text-align: center;margin-bottom:18px;" id="ddlload">
                        @Html.Hidden("hdnload", 0)
                    </div>
                    <div class="pagination" style="display:none;">
                        <input type="hidden" id="HdnSortValue" value="order by Title asc" />
                        <input type="hidden" id="HdnPageIndex" value="1" />
                        
                        <input type="hidden" id="Titlehdn" value="asc" />
                        <input type="hidden" id="AgreementDatehdn" value="asc" />
                        <input type="hidden" id="Statushdn" value="asc" />
                        <input type="hidden" id="Descriptionhdn" value="asc" />
                        <input type="hidden" id="TotalPageRecord" value='0' />
                        <input type="hidden" id="TotalPageRecord" value='0' />
                        <input type="hidden" id="ddlstatusval" value="" />
                    </div>
                </div>
            </div>
        </div>
    </div><!--End side app-->
    <!--footer-->
    <footer class="footer">
        <div class="container">
            <div class="row align-items-center flex-row-reverse">
                <div class="col-lg-12 col-sm-12   text-center">
                    Copyright © 2020 Association Bids. All rights reserved.
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer-->

</div>

<script src="../assets/js/index1.js"></script>

<!-- Custom js-->
<script src="../assets/js/custom.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $(".advance_search").click(function () {
            $("#advancesearch2").toggle(500);
        });
        $(".overlayclose").click(function () {
            $("#advancesearch2").hide();
        });
        $("#global-loader").show();
        //debugger;
        $("#ddlload").hide();
        $('.loader-wrapper').show();
        LoadSortTableFill();
        $('.errormessage').html('');
        $("#Error").hide();
        //var sorted = 'order by Title asc, Status asc';
        //$("#SortValuee").val(sorted);
        //$('#divSuccess').hide();
        //$.get('/Agreement/IndexreAgreementPaging', {  Search: '', Sort: sorted }, function (response) {
        //    $("#RawDatas table tbody tr:eq(0)").hide();
        //    $(".loader-wrapper").hide();
        //});
        $("#global-loader").hide();


    });




   

    function updatePaging(TotalRecs) {
        $('ul.pagination').html('');

        var liClone = $('ul.pagination');

        debugger;
        var pageSize = '@System.Configuration.ConfigurationManager.AppSettings["PageSize"].ToString()';
        //var pageSize = $('#PageSize').val();
        var NoPage = 1;
        if (parseInt(TotalRecs) > parseInt(pageSize)) {
            NoPage = parseInt(parseInt(TotalRecs) / parseInt(pageSize));
            if (parseFloat(parseInt(parseInt(TotalRecs) / parseInt(pageSize))) < parseFloat(parseInt(TotalRecs) / parseInt(pageSize))) {
                NoPage = (parseInt(parseInt(TotalRecs) / parseInt(pageSize)) + 1);
            }
        }

        var lp = 0;//parseFloat(parseInt($('#HdnPageIndex').val()) / 5);
        if (parseFloat(parseInt($('#HdnPageIndex').val()) % 5) == 0) {
            lp = ((parseInt(parseInt($('#HdnPageIndex').val()) / 5) - 1) * 5);
        } else {
            lp = parseInt(parseInt($('#HdnPageIndex').val()) / 5) * 5;
        }

        var ind = 0;
        for (var i = 1; i <= NoPage; i++) {
            if ((parseInt(lp)) < i) {
                if (parseInt($('#HdnPageIndex').val()) > 5 && $(liClone).find('li.previous').length == 0) {
                    $(liClone).append('<li class="paginate_button previous" aria-controls="DataTables_Table_0" tabindex="0" onclick="LoadPagingSortTableFill(' + "'" + (i - 1) + "'" + ')"><a href="#">Previous</a></li>');
                }
                if (ind < 5) {
                    if (i == parseInt($('#HdnPageIndex').val())) {
                        $(liClone).append('<li style=""><a href="#" onclick="LoadPagingSortTableFill(' + "'" + i + "'" + ')" class="current">' + i + '</a></li>');
                    } else {
                        $(liClone).append('<li style=""><a href="#" onclick="LoadPagingSortTableFill(' + "'" + i + "'" + ')">' + i + '</a></li>');
                    }
                } else if ($(liClone).find('li.next').length == 0) {
                    $(liClone).append('<li class="paginate_button next " aria-controls="DataTables_Table_0" tabindex="0" onclick="LoadPagingSortTableFill(' + "'" + i + "'" + ')"><a href="#">Next</a></li>');
                }
                ind = ind + 1;
            }
        }
    }


    function LoadPagingSortTableFill(pageIndex) {

        console.log("LoadSortTableFill")
        var k = '@System.Configuration.ConfigurationManager.AppSettings["PageSize"].ToString()';

        $.ajax({
            url: '@Url.Action("IndexreAgreementPagingForAdvancedSearch","Agreement")',
            cache: false,
            data: {
                PageSize: k,
                PageIndex: pageIndex,
                Search: $('#txtsearch').val(),
                Status: $("#ddlstatusval").val(),
                Sort: $("#HdnSortValue").val()
            },
            success: function (response) {

                $('.spnOfRecs').text(0);
                $('.spnTotalRecs').text(0);
                $('.spnToRecs').text(0);

                if (parseInt(response.length) > 0) {

                    var curRecords = 0;
                    var TotalRecs = 0;
                    var spnToRecs = 0;
                    curRecords = parseInt((pageIndex) * k);
                    curRecords = curRecords - (k - parseInt(response.length));
                    TotalRecs = parseInt(response[0].TotalRecords);
                    $('.spnOfRecs').text(curRecords);
                    $('.spnTotalRecs').text(TotalRecs);
                    if (curRecords === 0 || curRecords === TotalRecs) {
                        $("#ddlload").hide();
                    }
                    else {
                        $("#ddlload").show();
                    }
                } else {
                    $("#ddlload").hide();
                }

                $("#RawDatas table tbody tr:not(:first)").remove();
                $("#RawDatas table tbody tr:eq(0)").show();

                //debugger;
                for (var i = 0; i < response.length; i++) {
                    var table = $("#RawDatas table tbody tr:eq(0)").clone(true);
                    $(".Title", table).html(response[i].Title);
                    //$(".AgreementDate", table).html(ToJavaScriptDate(response[i].AgreementDate));
                    $(".AgreementDate", table).html(getDate(response[i].AgreementDate));

                    if (response[i].Status == "1") {
                        $("#status", table).css("color", "green");
                    }
                    else if (response[i].Status == "2") {
                        $("#status", table).css("color", "red");
                    }
                    $(".Description", table).html(response[i].Description);
                    $("#viewdata", table).attr('href', '/Agreement/AgreementView?AgreementKey=' + response[i].AgreementKey);

                    $("#RawDatas table").append(table);
                    spnToRecs++;
                }

                $("#RawDatas table tbody tr:eq(0)").hide();

                spnToRecs = (curRecords - spnToRecs) + 1;
                if (spnToRecs > 0) {
                    $('.spnToRecs').text(spnToRecs);
                }
                else {
                    $('.spnToRecs').text(0);
                }

                updatePaging(response[0].TotalRecords);

            }
        });
    }

    console.log()
    $("#btnsearch").click(function () {

        $("#ddlload").hide();
        $("#loading1").show();
        $("#ddlstatusval").val('');
        LoadSortTableFillWithSearchForAgreement();
    });

    $("#btnsearchVendor").click(function () {
        $("#advancesearch3").hide();
        LoadSortTableFillWithSearch();

    });
    function updatePagingsearch(TotalRecs, PageIndex) {

        $('ul.pagination').html('');
        var liClone = $('ul.pagination');

        debugger;

        var pageSize = '@System.Configuration.ConfigurationManager.AppSettings["PageSize"].ToString()';
        //var pageSize = $('#PageSize').val();
        var NoPage = 1;
        if (parseInt(TotalRecs) > parseInt(pageSize)) {
            NoPage = parseInt(parseInt(TotalRecs) / parseInt(pageSize));
            if (parseFloat(parseInt(parseInt(TotalRecs) / parseInt(pageSize))) < parseFloat(parseInt(TotalRecs) / parseInt(pageSize))) {
                NoPage = (parseInt(parseInt(TotalRecs) / parseInt(pageSize)) + 1);
            }
        }

        var lp = 0;//parseFloat(parseInt($('#HdnPageIndex').val()) / 5);
        if (parseFloat(parseInt(PageIndex) % 5) == 0) {
            lp = ((parseInt(parseInt(PageIndex) / 5) - 1) * 5);
        }
        else {
            lp = parseInt(parseInt(PageIndex) / 5) * 5;
        }

        var ind = 0;
        for (var i = 1; i <= NoPage; i++) {
            if ((parseInt(lp)) < i) {
                if (parseInt(PageIndex) > 5 && $(liClone).find('li.previous').length == 0) {
                    $(liClone).append('<li class="paginate_button previous" aria-controls="DataTables_Table_0" tabindex="0" onclick="LoadPagingSortTableFill(' + "'" + (i - 1) + "'" + ')"><a href="#">Previous</a></li>');
                }
                if (ind < 5) {
                    if (i == parseInt(PageIndex)) {
                        $(liClone).append('<li style=""><a href="#" onclick="LoadPagingSortTableFill(' + "'" + i + "'" + ')" class="current">' + i + '</a></li>');
                    } else {
                        $(liClone).append('<li style=""><a href="#" onclick="LoadPagingSortTableFill(' + "'" + i + "'" + ')">' + i + '</a></li>');
                    }
                } else if ($(liClone).find('li.next').length == 0) {
                    $(liClone).append('<li class="paginate_button next " aria-controls="DataTables_Table_0" tabindex="0" onclick="LoadPagingSortTableFill(' + "'" + i + "'" + ')"><a href="#">Next</a></li>');
                }
                ind = ind + 1;
            }
        }



    }


    function LoadSortTableFillWithSearchForAgreement() {

        debugger;
        var PageSize = "10";
        var PageIndex = "1";
        var Text = $('#txtsearch').val();


        if ($('#txtsearch').val() == "") {
            PageSize = "10";
        }

        $.ajax({
            url: '/Agreement/IndexreAgreementPagingForAdvancedSearch',
            cache: false,
            data: {
                PageSize: PageSize,
                PageIndex: PageIndex,
                Search: $('#txtsearch').val(),
                Status: $("#ddlstatusval").val(),
                Sort: $("#HdnSortValue").val()
            },
            success: function (response) {
                debugger;

                $('.spnOfRecs').text(0);
                $('.spnTotalRecs').text(0);
                $('.spnToRecs').text(0);

                if (parseInt(response.length) > 0) {

                    var curRecords = 0;
                    var TotalRecs = 0;
                    var spnToRecs = 0;
                    //debugger;
                    curRecords = parseInt((PageIndex) * parseInt(PageSize));
                    curRecords = curRecords - (PageSize - parseInt(response.length));
                    TotalRecs = parseInt(response[0].TotalRecords);
                    $('.spnOfRecs').text(curRecords);
                    $('.spnTotalRecs').text(TotalRecs);

                }
                else {

                }
                $("#RawDatas table tbody tr:not(:first)").remove();

                for (var i = 0; i < response.length; i++) {
                    var table = $("#RawDatas table tbody tr:eq(0)").clone(true);
                    $(".Title", table).html(response[i].Title);
                    //$(".AgreementDate", table).html(ToJavaScriptDate(response[i].AgreementDate));
                    $(".AgreementDate", table).html(getDate(response[i].AgreementDate));

                    if (response[i].Status == "1") {
                        $("#status", table).css("color", "green");
                    }
                    else if (response[i].Status == "2") {
                        $("#status", table).css("color", "red");
                    }
                    $(".Description", table).html(response[i].Description);
                    $("#viewdata", table).attr('href', '/Agreement/AgreementView?AgreementKey=' + response[i].AgreementKey);

                    $("#RawDatas table").append(table);
                    table.show();
                    spnToRecs++;
                }
                $("#RawDatas table tbody tr:eq(0)").hide();

                spnToRecs = (curRecords - spnToRecs) + 1;
                if (spnToRecs > 0) {
                    $('.spnToRecs').text(spnToRecs);
                    $(".pagination").show();
                    $("#RawDatas table thead tr:eq(0)").show();
                    updatePagingsearch(TotalRecs, PageIndex);
                    $('#Error').hide();
                }
                else {
                    $('.spnToRecs').text(0);
                    updatePagingsearch(TotalRecs, PageIndex);
                    if (TotalRecs = 'undefined') {
                        $('.errormessage').html('Data Not Found.');
                        $('#Error').show();
                        $("#RawDatas table thead tr:eq(0)").hide();
                        $("#RawDatas table tbody tr:eq(0)").hide();
                        $(".pagination").hide();
                    }
                }
                debugger;



                updatePagingsearch(TotalRecs, PageIndex);

            }
        });
    }

    function LoadSortTableFill() {
        $("#RawDatas table tbody tr:eq(0)").hide();
        console.log("LoadSortTableFill")
        var k = '@System.Configuration.ConfigurationManager.AppSettings["PageSize"].ToString()';
        $.ajax({
            url: '@Url.Action("IndexreAgreementPagingForAdvancedSearch","Agreement")',
            cache: false,
            data: {
                PageSize: k,
                PageIndex: $('#HdnPageIndex').val(),
                Search: $('#txtsearch').val(),
                Status: $("#ddlstatusval").val(),
                Sort: $("#HdnSortValue").val()
            },
            success: function (response) {

                $('.spnOfRecs').text(0);
                $('.spnTotalRecs').text(0);
                $('.spnToRecs').text(0);

                if (parseInt(response.length) > 0) {

                    var curRecords = 0;
                    var TotalRecs = 0;
                    var spnToRecs = 0;
                    curRecords = parseInt(($('#HdnPageIndex').val()) * k);
                    curRecords = curRecords - (k - parseInt(response.length));
                    TotalRecs = parseInt(response[0].TotalRecords);
                    $('.spnOfRecs').text(curRecords);
                    $('.spnTotalRecs').text(TotalRecs);
                    if (curRecords === 0 || curRecords === TotalRecs) {
                        $("#ddlload").hide();
                    }
                    else {
                        $("#ddlload").show();
                    }
                } else {
                    $("#ddlload").hide();
                }

                $("#RawDatas table tbody tr:not(:first)").remove();
                //$("#RawDatas table tbody tr:eq(0)").show();
                //debugger;

                for (var i = 0; i < response.length; i++) {
                    var table = $("#RawDatas table tbody tr:eq(0)").clone(true);
                    $(".Title", table).html(response[i].Title);
                    //$(".AgreementDate", table).html(ToJavaScriptDate(response[i].AgreementDate));
                    $(".AgreementDate", table).html(response[i].AgreementDates);

                    if (response[i].Status == "1") {
                        $("#status", table).css("color", "green");
                    }
                    else if (response[i].Status == "2") {
                        $("#status", table).css("color", "red");
                    }
                    $(".Description", table).html(response[i].Description);
                    $("#viewdata", table).attr('href', '/Agreement/AgreementView?AgreementKey=' + response[i].AgreementKey);

                    $("#RawDatas table").append(table);
                    table.show();
                    spnToRecs++;
                }
                $("#RawDatas table tbody tr:eq(0)").hide();

                spnToRecs = (curRecords - spnToRecs) + 1;
                if (spnToRecs > 0) {
                    $('.spnToRecs').text(spnToRecs);
                }
                else {
                    $('.spnToRecs').text(0);
                    updatePaging(TotalRecs);
                    if (TotalRecs = 'undefined') {
                        $('.errormessage').html('Data Is Not Found.');
                        $('#Error').show();
                        $("#RawDatas table thead tr:eq(0)").hide();
                        $("#RawDatas table tbody tr:eq(0)").hide();
                        $(".pagination").hide();
                    }
                }

                //if (curRecords.text == "NaN") {

                //    $('.errormessage').html('Data Is Not Found.');
                //    $('#Error').show();
                //    $("#RawDatas table thead tr:eq(0)").hide();
                //    $("#RawDatas table tbody tr:eq(0)").hide();
                //}
                //else {
                updatePaging(response[0].TotalRecords);
                //}
            }
        });
    }

    function ToJavaScriptDate(value) {
        var pattern = /Date\(([^)]+)\)/;
        var results = pattern.exec(value);
        var dt = new Date(parseFloat(results[1]));
        return (dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear();
        console.log(ToJavaScriptDate(value));
    }

    function Getdata() {

        $("#divSucces").hide();
        $("#divSucces").html('');
        $("#divError").hide();
        $("#divError").html('');
        $("#loading1").show();
        $("#hdnload").val("1");
        $("#ddlload").hide();
        GetRecords();
    }

    function GetRecords() {
        var SearchVal = $('#SearchVal').val();
        var k = '@System.Configuration.ConfigurationManager.AppSettings["PageSize"].ToString()';
        //SearchVal = SearchVal.replace("'", "''");
        console.log(GetRecords)
        $("#divSucces").hide();
        $("#divSucces").html('');
        $("#divError").hide();
        $("#divError").html('');
        var hdnPageIndex = parseInt($('#HdnPageIndex').val());

        var CountVal = hdnPageIndex + 1;

        var Index = (parseInt(k) * CountVal);

        $('#HdnPageIndex').val(CountVal);
        //var sort = $("#HdnSortValue").val();
        $("#loading1").show();

        $.ajax({
            type: "Get",
            url: "/Agreement/IndexreAgreementPagingForAdvancedSearch",
            data: {
                PageSize: Index,
                PageIndex: 1,
                Search: $('#txtsearch').val(),
                Status: $("#ddlstatusval").val(),
                Sort: $("#HdnSortValue").val()
            },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: OnSuccess,
            failure: function (response) {
            },
            error: function (response) {
            }
        });
    }


    //function LoadSortTableFillWithSearch() {
    //    var txtTitle = $('#txtTitle').val();
    //    var txtStatus = $('#txtStatus').val();
    //    var txtsearch = "";
    //    if (txtTitle != "") {
    //        txtsearch = txtTitle;
    //    }
    //    else if (txtStatus != "") {
    //        txtsearch = txtStatus;
    //    }
    //}


    function LoadSortTableFillWithSearch_Old() {

        var txtFirstName = $('#txtFirstName').val();
        var ddlStatus = $('#ddlStatus').val();
        var txtsearch = "";

        if (txtFirstName != "") {
            txtsearch = txtFirstName;
        }
        var k = '@System.Configuration.ConfigurationManager.AppSettings["PageSize"].ToString()';

        $.ajax({
            url: "/Agreement/IndexreAgreementPaging",
            cache: false,
            data: {
                PageSize: Index,
                PageIndex: 1,
                PageIndex: $('#HdnPageIndex').val(),
                Search: txtsearch,
                Sort: $("#HdnSortValue").val()
            },
            success: function (response) {

                $('.spnOfRecs').text(0);
                $('.spnTotalRecs').text(0);
                $('.spnToRecs').text(0);

                if (response.length > 0) {
                    var curRecords = 0;
                    var TotalRecs = 0;
                    var spnToRecs = 0;
                    curRecords = parseInt(($('#HdnPageIndex').val()) * parseInt(k));
                    curRecords = curRecords - (k - parseInt(response.length));
                    TotalRecs = parseInt(response[0].TotalRecords);
                    $('.spnOfRecs').text(curRecords);
                    $('.spnTotalRecs').text(TotalRecs);
                    if (curRecords === 0 || curRecords === TotalRecs) {
                        $("#ddlload").hide();
                    }
                    else {
                        $("#ddlload").show();
                    }
                }
                else {
                    $('.spnOfRecs').text(0);
                    $('.spnTotalRecs').text(0);
                }

                $("#RawDatas table tbody tr:not(:first)").remove();
                $("#RawDatas table tbody tr:eq(0)").show();


                for (var i = 0; i < response.length; i++) {
                    if (ddlStatus == response[i].Status) {
                        var table = $("#RawDatas table tbody tr:eq(0)").clone(true);
                        $(".Title", table).html(response[i].Title);
                        //$(".AgreementDate", table).html(ToJavaScriptDate(response[i].AgreementDate));
                        $(".AgreementDate", table).html(response[i].AgreementDates);

                        if (response[i].Status == "1") {
                            $("#status", table).css("color", "green");
                        }
                        else if (response[i].Status == "2") {
                            $("#status", table).css("color", "red");
                        }
                        $(".Description", table).html(response[i].Description);
                        $("#viewdata", table).attr('href', '/Agreement/AgreementView?AgreementKey=' + response[i].AgreementKey);
                        $("#RawDatas table").append(table);
                        spnToRecs++;
                    }

                    else if (ddlStatus == "3") {
                        var table = $("#RawDatas table tbody tr:eq(0)").clone(true);
                        $(".Title", table).html(response[i].Title);
                        //$(".AgreementDate", table).html(ToJavaScriptDate(response[i].AgreementDate));
                        $(".AgreementDate", table).html(getDate(response[i].AgreementDate));

                        if (response[i].Status == "1") {
                            $("#status", table).css("color", "green");
                        }
                        else if (response[i].Status == "2") {
                            $("#status", table).css("color", "red");
                        }
                        $(".Description", table).html(response[i].Description);
                        $("#viewdata", table).attr('href', '/Agreement/AgreementView?AgreementKey=' + response[i].AgreementKey);
                        $("#RawDatas table").append(table);
                        spnToRecs++;
                    }
                }
                $("#RawDatas table tbody tr:eq(0)").hide();

                spnToRecs = (curRecords - spnToRecs) + 1;
                if (spnToRecs > 0) {
                    $('.spnToRecs').text(spnToRecs);
                }
                else {
                    $('.spnToRecs').text(0);
                }

                updatePaging(response[0].TotalRecords);
            }

        });
    }

    function LoadSortTableFillWithSearch() {

        var txtFirstName = $('#txtFirstName').val();
        var ddlStatus = $('#ddlStatus').val();
        var txtsearch = "";
        var status = ddlStatus;

        if (txtFirstName != "") {
            txtsearch = txtFirstName;
        }
        if (ddlStatus == 3)
            status = "";

        $("#ddlstatusval").val('');

        var k = '@System.Configuration.ConfigurationManager.AppSettings["PageSize"].ToString()';

        $.ajax({
            url: "/Agreement/IndexreAgreementPagingForAdvancedSearch",
            cache: false,
            data: {
                PageSize: k,
                PageIndex: $('#HdnPageIndex').val(),
                Search: txtsearch,
                Status: status,
                Sort: $("#HdnSortValue").val()
            },
            success: function (response) {

                $('.spnOfRecs').text(0);
                $('.spnTotalRecs').text(0);
                $('.spnToRecs').text(0);

                if (response.length > 0) {
                    var curRecords = 0;
                    var TotalRecs = 0;
                    var spnToRecs = 0;
                    curRecords = parseInt(($('#HdnPageIndex').val()) * parseInt(k));
                    curRecords = curRecords - (k - parseInt(response.length));
                    TotalRecs = parseInt(response[0].TotalRecords);
                    $('.spnOfRecs').text(curRecords);
                    $('.spnTotalRecs').text(TotalRecs);
                    if (curRecords === 0 || curRecords === TotalRecs) {
                        $("#ddlload").hide();
                    }
                    else {
                        $("#ddlload").show();
                    }
                }
                else {
                    $('.spnOfRecs').text(0);
                    $('.spnTotalRecs').text(0);
                }

                $("#RawDatas table tbody tr:not(:first)").remove();
                $("#RawDatas table tbody tr:eq(0)").show();


                for (var i = 0; i < response.length; i++) {
                    //if (ddlStatus == response[i].Status)
                    {
                        var table = $("#RawDatas table tbody tr:eq(0)").clone(true);
                        $(".Title", table).html(response[i].Title);
                        //$(".AgreementDate", table).html(ToJavaScriptDate(response[i].AgreementDate));
                        $(".AgreementDate", table).html(response[i].AgreementDates);

                        if (response[i].Status == "1") {
                            $("#status", table).css("color", "green");
                        }
                        else if (response[i].Status == "2") {
                            $("#status", table).css("color", "red");
                        }
                        $(".Description", table).html(response[i].Description);
                        $("#viewdata", table).attr('href', '/Agreement/AgreementView?AgreementKey=' + response[i].AgreementKey);
                        $("#RawDatas table").append(table);
                        spnToRecs++;
                    }

                    //else if (ddlStatus == "3") {
                    //    var table = $("#RawDatas table tbody tr:eq(0)").clone(true);
                    //    $(".Title", table).html(response[i].Title);
                    //    $(".AgreementDate", table).html(ToJavaScriptDate(response[i].AgreementDate));

                    //    if (response[i].Status == "1") {
                    //        $("#status", table).css("color", "green");
                    //    }
                    //    else if (response[i].Status == "2") {
                    //        $("#status", table).css("color", "red");
                    //    }
                    //    $(".Description", table).html(response[i].Description);
                    //    $("#viewdata", table).attr('href', '/Agreement/AgreementView?AgreementKey=' + response[i].AgreementKey);
                    //    $("#RawDatas table").append(table);
                    //    spnToRecs++;
                    //}
                }
                $("#RawDatas table tbody tr:eq(0)").hide();

                spnToRecs = (curRecords - spnToRecs) + 1;
                if (spnToRecs > 0) {
                    $('.spnToRecs').text(spnToRecs);
                }
                else {
                    $('.spnToRecs').text(0);
                }

                updatePaging(response[0].TotalRecords);
            }

        });
    }

    function SortingFun(val) {
        $("#ddlload").show();
        $('#HdnPageIndex').val('1');
        var Sort = $('#SortValue').val();
        //debugger;
        var ascdesc = 'fa-sort-asc';
        var ascdesc1 = 'fa-sort-desc';
        var ascdesc3 = 'fa-sort-asc';
        var ascdesc4 = 'fa-sort-desc';

        $('.loader-wrapper').show();
        var Sort = '';
        $('#HdnPageIndex').val('1');

        $('#Titlei').removeClass(ascdesc4);
        $('#Titlei').addClass(ascdesc3);

        $('#AgreementDatei').removeClass(ascdesc4);
        $('#AgreementDatei').addClass(ascdesc3);

        $('#Statusi').removeClass(ascdesc4);
        $('#Statusi').addClass(ascdesc3);

        $('#Descriptioni').removeClass(ascdesc4);
        $('#Descriptioni').addClass(ascdesc3);

        //debugger;


        //-----------------------------------------------------------


        if (val == 'Title') {

            if ($('#Titlehdn').val() == 'asc') {
                debugger;
                Sort = 'order by Title desc';
                $('#Titlehdn').val('desc');
                $('#Titlei').removeClass(ascdesc);
                $('#Titlei').addClass(ascdesc1);
            }
            else {
                debugger;
                Sort = 'order by Title asc';
                $('#Titlehdn').val('asc');
                $('#Titlei').removeClass(ascdesc1);
                $('#Titlei').addClass(ascdesc);
            }
        }

        //-------------------------------------------------
        if (val == 'AgreementDate') {
            if ($('#AgreementDatehdn').val() == 'asc') {
                Sort = 'order by Ag.AgreementDate desc';
                $('#AgreementDatehdn').val('desc');
                $('#AgreementDatei').removeClass(ascdesc);
                $('#AgreementDatei').addClass(ascdesc1);
            }
            else {
                Sort = 'order by Ag.AgreementDate asc';
                $('#AgreementDatehdn').val('asc');
                $('#AgreementDatei').removeClass(ascdesc1);
                $('#AgreementDatei').addClass(ascdesc);
            }
        }
        //-------------------------------------------------------
        if (val == 'Status') {
            if ($('#Statushdn').val() == 'asc') {
                Sort = 'order by Ag.Status desc';
                $('#Statushdn').val('desc');
                $('#Statusi').removeClass(ascdesc);
                $('#Statusi').addClass(ascdesc1);
            }
            else {
                Sort = 'order by Ag.Status asc';
                $('#Statushdn').val('asc');
                $('#Statusi').removeClass(ascdesc1);
                $('#Statusi').addClass(ascdesc);
            }
        }

        if (val == 'Description') {
            if ($('#Descriptionhdn').val() == 'asc') {
                Sort = 'order by Ag.Description desc';
                $('#Descriptionhdn').val('desc');
                $('#Descriptioni').removeClass(ascdesc);
                $('#Descriptioni').addClass(ascdesc1);
            }
            else {
                Sort = 'order by Ag.Description asc';
                $('#Descriptionhdn').val('asc');
                $('#Descriptioni').removeClass(ascdesc1);
                $('#Descriptioni').addClass(ascdesc);
            }
        }
        $("#ddlload").show();

        $("#HdnSortValue").val(Sort);
        $('.loader-wrapper').show();
        LoadSortTableFill();
    }
    console.log("CallFuction")
    function OnSuccess(response) {

        //debugger;
        var k = '@System.Configuration.ConfigurationManager.AppSettings["PageSize"].ToString()';

        $('.spnOfRecs').text(0);
        $('.spnTotalRecs').text(0);
        $('.spnToRecs').text(0);

        if (parseInt(response.length) > 0) {
            var curRecords = 0;
            var TotalRecs = 0;
            var spnToRecs = 0;
            //debugger;
            curRecords = parseInt(($('#HdnPageIndex').val()) * k);
            curRecords = curRecords - (k - parseInt(response.length));
            TotalRecs = parseInt(response[0].TotalRecords);
            $('.spnOfRecs').text(curRecords);
            $('.spnTotalRecs').text(TotalRecs);

            if (curRecords === 0 || curRecords === TotalRecs) {
                $("#ddlload").hide();
            }
            else {
                $("#ddlload").show();
            }
        } else {
            $("#ddlload").hide();
        }
        $("#RawDatas table tbody tr:not(:first)").remove();
        $("#RawDatas table tbody tr:eq(0)").show();
        for (var i = 0; i < response.length; i++) {
            var table = $("#RawDatas table tbody tr:eq(0)").clone(true);
            $(".Title", table).html(response[i].Title);
            //$(".AgreementDate", table).html(response[i].AgreementDate);
            $(".AgreementDate", table).html(response[i].AgreementDates);
            $(".Status", table).html(response[i].Status);
            $(".Description", table).html(response[i].Description);

            $("#viewdata", table).attr('href', '/EmailTemplate/EmailTemplateView?AgreementKey=' + response[i].AgreementKey);

            $("#RawDatas table").append(table);

            spnToRecs++;
        }
        $("#RawDatas table tbody tr:eq(0)").hide();

        spnToRecs = (curRecords - spnToRecs) + 1;
        if (spnToRecs > 0) {
            $('.spnToRecs').text(spnToRecs);
        }
        else {
            $('.spnToRecs').text(0);
        }

        updatePaging(response[0].TotalRecords);
        $("#loading1").hide();
    }

    function getDate(datestring) {
        debugger;
        var milli = datestring.replace(/\/Date\((-?\d+)\)\//, '$1');
        var date1 = new Date(parseInt(milli)).toLocaleDateString();
        var mon = date1.split('/')[0];
        var day = date1.split('/')[1];
        var year = date1.split('/')[2];
        if (mon.length == 1)
            mon = "0" + mon;
        if (day.length == 1)
            day = "0" + day;
        return mon + "/" + day + "/" + year;
    }

</script>

