@model AssociationBids.Portal.Model.BidVendorModel
@{
    ViewBag.Title = "VenderWorkorderViewMoreClone";
    Layout = null;
}


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.js"></script>

<link href="~/assets/plugins/fileuploads/css/dropify.css" rel="stylesheet" />
<link href="~/Content/themes/assets/plugins/fileuploads/css/dropify.css" rel="stylesheet" />
<link href="~/assets/plugins/fileuploads/css/dropify.min.css" rel="stylesheet" />
<script src="~/assets/plugins/fileuploads/js/dropify.js"></script>
<script src="~/assets/plugins/fileuploads/js/dropify-demo.js"></script>
<script src="~/assets/plugins/fileuploads/js/dropify.min.js"></script>






<!-- Favicon -->
<link rel="icon" href="../assets/images/brand/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" type="image/x-icon" href="../assets/images/brand/favicon.ico" />

<!-- Title -->
<title>Add Bid Request - Property Manager - Association Bids</title>

<!--Bootstrap.min css-->
<link rel="stylesheet" href="../assets/plugins/bootstrap/css/bootstrap.min.css">

<!-- Dashboard css -->
<link href="../assets/css/style.css" rel="stylesheet" />

<!-- Perfect scroll bar css-->
<link href="../assets/plugins/pscrollbar/perfect-scrollbar.css" rel="stylesheet" />

<!--Sidemenu css-->
<link rel="stylesheet" href="../assets/plugins/sidemenu/sidemenu-icon.css">

<!--Daterangepicker css-->
<link href="../assets/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />

<!-- Sidebar Accordions css -->
<link href="../assets/plugins/sidemenu-responsive-tabs/css/easy-responsive-tabs.css" rel="stylesheet">

<!-- Rightsidebar css -->
<link href="../assets/plugins/sidebar/sidebar.css" rel="stylesheet">

<!--News ticker css -->
<link href="../assets/plugins/newsticker/breaking-news-ticker.css" rel="stylesheet" />

<!---Font icons css-->
<link href="../assets/plugins/webfonts/plugin.css" rel="stylesheet" />
<link href="../assets/plugins/webfonts/icons.css" rel="stylesheet" />
<link href="../assets/fonts/fonts/font-awesome.min.css" rel="stylesheet">

<!-- Color-skins css -->
<link id="theme" rel="stylesheet" type="text/css" media="all" href="../assets/colors/color-skins/color.css" />
<link rel="stylesheet" href="../assets/css/demo-styles.css" />
@*<div class="app-content  my-3 my-md-5">
    <div class="side-app">*@

<div class="alert alert-danger" id="Error" style="display:block; margin-top: 20px;display:none;">
    <strong><span class="errormessage"></span></strong>
</div>
<div class="alert alert-success" id="sucess" style="display:block; margin-top: 20px;display:none;">
    <strong><span class="sucessmessage"></span></strong>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body" onclick="checkVali()">
                <div class="row">

                    <div id="apceptdic" class="col-md-12 pull-right text-right">
                        @*<button id="btnupdatebid" class="btn btn-primary" type="button" title="Update" onclick="return SubmitBid();"><i class="fe fe-check"></i> Update</button>*@
                        <button id="btncopy" style="display:none;"><i class="fe fe-check"></i></button>
                        <button id="btnUpdateBid" class="btn btn-primary" type="button" title="Update" onclick="return SubmitBid('update');"><i class="fe fe-check"></i> Update</button>
                        <button id="btnSubmitted" data-target="#acceptbidrequest" data-toggle="modal" class="btn btn-primary" type="button" title="Update" onclick="return  OpenPopup('Submitted');"><i class="fe fe-check"></i> Submit Work Order</button>
                        <button id="DeclineByVender" data-target="#CancelBidRequest" data-toggle="modal" href="#" onclick="return OpenPopup('DeclineByVender');" class="btn btn-danger"><i class="fa fa-times-circle "></i> Decline</button>
                        <input id="HdnBidKey" type="hidden" value="0">
                        @*<input id="HdnObjectKey" type="hidden" value="@Model.BidVendorKey" />
                <input id="HdnResourceKey" type="hidden" value="@Model.ResourceKey " />
                <input id="HdnBidStartDate" type="hidden" value="@Model.BidStartDate" />*@
                    </div>
                    <div class="col-md-12 pull-right text-right" id="divafterDue">
                        <a id="btnclosebidafterDue" href="#" class="btn btn-danger" onclick="callttoClose()"><i class="fa fa-times-circle "></i> Close</a>
                        <a id="btndateExtend" href="#" class="btn btn-success" onclick="calltoDateExtend()"><i class="fa fa-check-circle "></i> Request Date Extension</a>
                    </div>
                    <!-- end of col -->
                </div>
                <hr />
                <div class="tabs-menu1 ">
                    <!-- Tabs -->
                    <ul class="nav panel-tabs">
                        <li class=""><a href="#bidrequests" class="active" data-toggle="tab" onclick="return BidDetails('1');">Work Order Requests</a></li>
                        <li><a href="#comments" id="MsgTab" data-toggle="tab" onclick="return LoadMessages('1');">Message</a></li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active " id="bidrequests">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label">Bid Amount <span style="color:red;">*</span></label>

                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <div class="input-group-text">
                                                                <i class="fa fa-dollar tx-16 lh-0 op-6"></i>
                                                            </div>
                                                        </div>
                                                        <input id="txtAmount" class="form-control" placeholder="" type="text" onfocus="checkVali()">
                                                    </div>
                                                </div>
                                            </div><!-- end of col -->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label">Estimated Start Date:</label>
                                                    @*<p id="pdate"></p>*@
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text">
                                                            <i class="fa fa-calendar tx-16 lh-0 op-6"></i>
                                                        </div>
                                                    </div>
                                                    @*<input id="pdate" name="pdate" autocomplete="off" class="form-control fc-datepicker" placeholder="MM/DD/YYYY" type="text">*@
                                                    <input id="pdate" name="pdate" autocomplete="off" class="form-control fc-datepicker" placeholder="MM/DD/YYYY" type="text" onfocus="checkVali()">
                                                </div>
                                                </div>
                                            </div><!-- end of col -->
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="form-label">Description:</label>
                                                    <textarea id="txtDescription" class="form-control" placeholder="Description" onfocus="checkVali()"></textarea>
                                                </div>
                                            </div>
                                            <!-- end of col -->
                                        </div>
                                        <!-- end of row -->
                                    </div>
                                    <!--end of card body -->
                                </div>
                                <!--end of card -->
                            </div>
                            <!--end of col -->
                        </div><!--end of row -->
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Photos</h3>

                                        <div class="popback" style="height:auto;width:70%; background-color:whitesmoke;position:absolute;top:50px; left:170px; z-index:100;padding-bottom: 31px; display:none;">
                                            <button type="button" class="btn btn-md btn-danger closepop pull-right" style=" font-size:10px;" onclick="myclick()" id="btnclose">&times;</button>

                                            <div id="image"></div>

                                        </div>
                                    </div>
                                    <div class="card-body border-top">

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    @foreach (var images in Model.img)
                                                    {

                                                        if (images == null)

                                                        {

                                                        }
                                                        else
                                                        {
                                                            <a target="_blank" href="@Url.Content(images)" class="" style="cursor: pointer;text-decoration:none;">


                                                                <img src="@Url.Content(images)" alt="Hejsan" style="width:200px; padding-top:26px; padding-left:26px; cursor:pointer;" />

                                                            </a>

                                                        }
                                                    }
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                    @*<div class="card-options">
                                <a href="#" class="card-options-collapse mr-2" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                            </div>*@

                                    @*<div class="card-body border-top scrolling-wrapper" style="">
                                <div id="RowimgBind" class="row">
                                    <div class="col-6 col-md-3 table123">

                                        <img id="docimgurl" src="" style="width:200px;" onclick="viewimage(this.src);">

                                    </div>

                                </div>

                            </div>*@<!--end of card body -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Documents</h3>
                                        <div class="card-options">
                                            <a href="javascript:void(0);" class="btn btn-sm btn-primary pull-right" id="PhotoUpoload" title="Upload" data-toggle="modal" data-target="#uploadmodal"><i class="fa fa-upload"></i> Upload</a>
                                            <a style="margin-left: 10px;" href="#" class="card-options-collapse mr-2" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                        </div>
                                    </div>
                                    <div class="card-body border-top">
                                        <div class="table-responsive" id="divFileUploader">
                                            <table id="dataTableExample" class="table table-striped table-bordered w-100 dataTable no-footer">
                                                <thead>
                                                    <tr>
                                                        <th> Documents</th>
                                                        <th width="5%"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <a target="_blank" href="#" class="upd-fl" style="cursor: pointer;text-decoration:none;"></a>
                                                        </td>
                                                        <td align="center">
                                                            <a title="Delete" onclick="removeDoc(this);" href="#" data-toggle="modal" data-target="#uploadmodaldelete"><i class="fe fe-trash redtxt font18"></i></a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </div><!-- end of table responsive -->
                                        <!-- Modal -->
                                        <div class="modal fade" id="uploadmodal" tabindex="-1" role="dialog" aria-labelledby="uploadmodalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="uploadmodalLabel">Upload</h5>
                                                        <button type="button" class="close" data-dismiss="modal"  id="btnModelClose" aria-label="Close">
                                                            <span aria-hidden="true">×</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <label class="form-label">Upload Files</label>
                                                                    <input id="txtfile1" type="file" multiple class="dropify" />
                                                                </div>
                                                            </div><!-- end of col -->
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal" style="display:none;">Close</button>
                                                        <button type="button" class="btn btn-primary" onclick="uploaddocument()" style="display:block;" data-dismiss="modal">Upload</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal fade" id="uploadmodaldelete" tabindex="-1" role="dialog" aria-labelledby="uploadmodalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="acceptbidrequestLabel">Delete</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">×</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">

                                                        <div class="form-popup">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="custom-controls-stacked">
                                                                        <input type="hidden" class="dockey" id="dockey" value="" />
                                                                        <h5 id="popupmsg" class="modal-title" style="color:black !important;">Are you sure you want to delete this record?</h5>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button id="btncanpopdel" type="button" class="btn btn-sm btn-info" data-dismiss="modal">Cancel</button>
                                                        <a id="" onclick="DeleteDocument();" href="#" class="btn btn-sm btn-default"><i class="fa fa-check-square"></i> Yes</a>
                                                        @* <a href="" class="font18 deleteVendor text-danger deleteVendor" data-toggle="modal" data-target="#deletepopup"><i class="fe fe-trash"></i></a>*@
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end Modal -->
                                    </div>
                                    <!--end of card body -->
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 pull-right text-right">
                                <div class="form-group">
                                </div>
                            </div><!-- end of col -->
                        </div>


                    </div><!-- end of tab -->
                    <div class="tab-pane " id="comments">

                        <div class="row">
                            <div class="col-12">
                                <div class="card">

                                    <div class="card-body">
                                        <div class="col-md-12 col-lg-12 col-xl-12  chat">
                                            <div class="card ">
                                                @{Html.RenderAction("_SendMessage", "LayOutMaster", new { area = "" });}
                                                <input id="HdnModuleKeyName" type="hidden" value="WorkOrder">
                                                <input id="HdnModuleKeyNameDoc" type="hidden" value="PMWorkOrders">
                                                <input id="HdnModuleKeyNameMsg" type="hidden" value="WorkOrder">

                                                <input id="HdnBidKey" type="hidden" value="">
                                                <input id="HdnObjectKey" type="hidden" value="@Model.BidVendorKey" />
                                                <input id="HdnResourceKey" type="hidden" value="@Model.ResourceKey " />
                                                <input id="HdnBidStartDate" type="hidden" value="@Model.BidStartDate" />
                                            </div>
                                        </div><!-- end of card body -->
                                    </div><!-- end of card -->
                                </div><!-- end of col -->
                            </div><!-- end of row -->
                        </div>
                    </div><!-- end of tab -->
                </div>
                <!-- end of tab content -->
                <!-- Modal -->

                <div class="modal fade" id="acceptbidrequest" tabindex="-1" role="dialog" aria-labelledby="acceptbidrequestLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="acceptbidrequestLabel">Submit Work Order</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-popup">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="custom-controls-stacked">
                                                <h5 id="popupmsg" class="modal-title" style="color:black !important;">Are you sure you want to submit this Work Order?</h5>
                                            </div>

                                        </div><!-- end of col -->
                                    </div>
                                </div><!-- end of form-popup -->
                            </div><!-- end of Moal body -->
                            <div class="modal-footer">
                                <button id="btncanpop" type="button" class="btn btn-sm btn-info" data-dismiss="modal">Cancel</button>
                                <a id="PopAcceptByVender" href="#" onclick="return AcceptByVender('1');" class="btn btn-sm btn-primary" data-toggle="modal"><i class="fa fa-check-square "></i> Yes</a>
                                <a id="PopDeclineByVender" href="#" onclick="return DeclineByVender('0');" class="btn btn-sm btn-danger"><i class="fa fa-check-square"></i> Yes</a>
                                <a id="PopCancelByVender" href="#" onclick="return CancelByVender('1');" class="btn btn-sm btn-default"><i class="fa fa-check-square"></i> Yes</a>
                                <a id="PopSubmitted" href="#" onclick="return SubmitBid('Submitted');" class="btn btn-sm btn-default"><i class="fa fa-check-square"></i> Yes</a>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="modal fade" id="CancelBidRequest" tabindex="-1" role="dialog" aria-labelledby="acceptbidrequestLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="acceptbidrequestLabel">Decline Work Order</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-popup">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="custom-controls-stacked">
                                                <h5 id="popupmsg" class="modal-title" style="color:black !important;">Are you sure you want to decline this work order?</h5>
                                            </div>

                                        </div><!-- end of col -->
                                    </div>
                                </div><!-- end of form-popup -->
                            </div><!-- end of Moal body -->
                            <div class="modal-footer">
                                <button id="btncanpop" type="button" class="btn btn-sm btn-info" data-dismiss="modal">Cancel</button>
                                <a id="PopDeclineByVender" href="#" data-dismiss="modal" onclick="return DeclineByVender('0');" class="btn btn-sm btn-danger"><i class="fa fa-check-square"></i> Yes</a>
                               
                            </div>
                        </div>
                    </div>
                </div>


                <!-- end of modal-->
                <!-- Modal -->
                <!-- end of modal-->
            </div>
            <!--end of card body -->
        </div>
    </div>
    @*<footer class="footer">
            <div class="container">
                <div class="row align-items-center flex-row-reverse">
                    <div class="col-lg-12 col-sm-12   text-center">
                        Copyright © 2020 Association Bids. All rights reserved.
                    </div>
                </div>
            </div>
        </footer>*@
</div>


<script>
    $(document).ready(function () {
        debugger;

        $("#btnSubmitted").hide();
        $("#btnUpdateBid").hide();
        $("#VenderW").closest('li').addClass('active');
        $('#btnSubmitted').prop('disabled', true);
        $("#btnSubmitted").css("cursor", "not-allowed")
        $("#VenderW1").addClass('active');
        $("#divafterDue").hide();
         GetSubmitBid('new');
        $("#divalert").hide();
        bindDocument();
    });

    function checkVali() {

        //debugger;
        if ($('#txtAmount').val() == "") {

            $('#btnSubmitted').prop('disabled', true);
            $("#btnSubmitted").css("cursor", "not-allowed")

            return false;
        }
        if ($('#txtAmount').val() == "0") {

            $('#btnSubmitted').prop('disabled', true);
            $("#btnSubmitted").css("cursor", "not-allowed")

            return false;
        }


        else {
            $('#btnSubmitted').prop('disabled', false);
            $("#btnSubmitted").css("cursor", "pointer")
        }
    }

    function GetSubmitBid(btnname) {
        debugger;
        var status = 'getid';
        $.ajax({
            url: '../VenderBidrequest/SubmitVenderBidJson',
            async: false,
            cache: false,
            type: "POST",
            dataType: "JSON",
            data: { BidVendorKey: $("#HdnObjectKey").val(), Status: status, ResourceKey: $("#HdnLoginResourceKey").val(), Total: $("#txtAmount").val(), Description: $("#txtDescription").val(), LastModificationTime: $("#pdate").val() },
            success: function (result) {
                if (result !== '0') {
                    $("#HdnBidKey").val(result);
                    LoadSortTableFill();
                    BindDocumentDymc();
                    LoadMessagesList('0');
                }

            },
            error: function () {
                $("#global-loader").hide();
            }
        });
        $("#btncanpop").click();

    }

    function goindex() {
           window.location.href = '@Url.Action("VenderWorkorder", "VenderWorkOrders")';
    }



    function LoadMessages(msgstatus,isnoti,Bidid) {
        $("#ViewBidrequest").hide();
        LoadMessagesList(msgstatus);
        debugger;
        if (isnoti == 'true' && Bidid > 1) {
            notificationClick(Bidid, 'BidReqMsg');
        }
    }
    function BidDetails(msgstatus) {
        $("#ViewBidrequest").show();
    }

    function LoadSortTableFill() {
        $.ajax({
            url: '@Url.Action("GetVenderBidListJson", "VenderBidrequest")',
            cache: false,
            data: {
                BidVendorKey: $("#HdnObjectKey").val(),
                ResourceKey: $("#HdnLoginResourceKey").val()
            },
            success: function (response) {
                debugger;
                response = JSON.parse(response);
                //$("#HdnStatus").val(response[0].Statuslookup);
                $("#HdnBidKey").val(response[0].BidKey);
                if (response[0].strLastModificationTime !== '01/01/1900') {
                    $("#pdate").val(response[0].strLastModificationTime);
                }
                $("#txtAmount").val(response[0].ActAmount);
                $("#txtTitle").val(response[0].Title);
                $("#txtDescription").html(response[0].Description);
                //if ((ConvertJsonDateToDateTime(response[0].LastModificationTime) !== '1/1/1')) {
                //    $("#pdate").html(ConvertJsonDateToDateTime(response[0].LastModificationTime));
                //}
                //UpdateButtonDisplay();
                if ($("#HdnStatus").val() === 'Interested') {
                    $("#btnSubmitted").show();
                    $("#btnUpdateBid").hide();
                }
                if ($("#HdnStatus").val() === 'Submitted') {
                    $("#btnSubmitted").hide();
                    $("#btnUpdateBid").show();
                }
                //if ($("#HdnStatus").val() == 'Accepted') {
                //    $("#apceptdic").hide();

                //}
                $(".loader-wrapper").hide();
            }
        });
    }
    function SubmitBid(btnname) {
        debugger;
        var status = btnname;
        if (btnname == 'new') {
            status = 'In Progress';
        }

        if (btnname == 'update') {
            status = 'Submitted';
        }
        debugger;
        $.ajax({
            url: '../VenderBidrequest/SubmitVenderBidJson',
            async: false,
            cache: false,
            type: "POST",
            dataType: "JSON",
            data: { BidVendorKey: $("#HdnObjectKey").val(), Status: status, ResourceKey: $("#HdnLoginResourceKey").val(), Total: $("#txtAmount").val(), Description: $("#txtDescription").val(), LastModificationTime: $("#pdate").val() },
            success: function (result) {
                if (result !== '0') {

                    $("#HdnBidKey").val(result);
                    if (btnname !== 'new') {
                        $("#divsucces").show();
                        if (btnname === 'submit') {
                            $("#SuccessMsg").html("Submited Work Order successfully.");
                        }
                        else { $("#SuccessMsg").html("Update Work Order successfully."); }
                        $("#SuccessMsg").show();
                        $("#ErrorMsg").html("");
                        $("#ErrorMsg").hide();
                        $("#divalert").hide();
                        LoadSortTableFill();
                        // $("#HdnStatus").val('Not Interested');
                        if ($("#HdnStatus").val() === 'Submitted') {
                            $("#HdnStatus").val('Interested');
                        }
                        if ($("#HdnStatus").val() === 'Interested') {
                            $("#HdnStatus").val('Submitted');
                        }
                    }
                }
            }
        });
        $("#btncanpop").click();
        goindex();
                }

    //$("#txtfile1").change(function () {
    //    //alert("asdas");
    //    //readURL(this);
    //    UploadDocs();
    //});

    //function UploadDocs() {
    //    debugger;
    //    if (document.getElementById("txtfile1").files.length > 0) {
    //        InsertDocuments();
    //        $("#uploadmodal").click();
    //    }
    //    else {
    //        return false;
    //    }
    //}
    //function CleareFile() {
    //    $(".dropify-clear").click();
    //}
    //function InsertDocuments()
    //{
    //    debugger;
    //    $('#loader').show();
    //    var formData = new FormData();
    //    var totalFiles = document.getElementById("txtfile1").files.length;
    //    for (var i = 0; i < totalFiles; i++) {
    //        var file = document.getElementById("txtfile1").files[i];
    //        formData.append("txtfile1", file);
    //    }
    //    formData.append("ObjectKey", $("#HdnBidKey").val());
    //    formData.append("FileName", "");
    //    formData.append("FileSize", "");
    //    formData.append("ControllerName", $("#HdnControllerName").val());
    //    formData.append("ActionName", $("#HdnActionName").val());
    //    $.ajax({
    //        type: 'POST',
    //        datatype: 'json',
    //        url: '../VenderBidrequest/DocumentUploadDynmc',
    //        data: formData,
    //         contentType:false,
    //         processData: false,
    //         success: function (respo)
    //         {
    //             $(".dropify-clear").click();
    //             BindDocumentDymc();
    //         },
    //    });
    //}
    //function BindDocumentDymc() {
    //            $.ajax({
    //        url: '../VenderBidrequest/GetDocumentListDynmc',
    //        cache: false,
    //        data: {
    //            ObjectKey: $("#HdnBidKey").val(),
    //            ControllerName: $("#HdnControllerName").val(),
    //            ActionName: $("#HdnActionName").val(),
    //        },
    //        success: function (response) {
    //            debugger;
    //            response = JSON.parse(response);
    //            $("#divFileUploader table tbody tr:not(:first)").remove();
    //            $("#divFileUploader table tbody tr:eq(0)").show();
    //            for (var i = 0; i < response.length; i++) {
    //                var cln = $("#divFileUploader table tbody tr:eq(0)").clone(true);
    //                $("#docname1", cln).html(response[i].FileName);
    //                $("#docname1", cln).attr('href', "../Document/Properties/" + response[i].DocumentKey + " "  + response[i].FileName + "");
    //                //$("#docname1", cln).attr('onclick', "ViewDoc1('" + response[i].FileName + "')");

    //                $("#docdelete", cln).attr('onclick', "DeleteDocumentDymc(" + response[i].DocumentKey + ");");

    //                $("#divFileUploader table").append(cln);
    //            }
    //            $("#divFileUploader table tbody tr:eq(0)").hide();
    //            $(".loader-wrapper").hide();
    //        }
    //    });
    //}
    //function ViewDoc1(FileName) {
    //    window.location.href = '../Document/Properties/' + FileName;
    //}
    //function DeleteDocumentDymc(DocumentKey) {
    //    $.ajax({
    //        url: '../VenderBidrequest/DeleteDocumentListDynmc',
    //        cache: false,
    //        data: {
    //            DocumentKey: DocumentKey,
    //        },
    //        success: function (response) {
    //            BindDocumentDymc();
    //            $(".loader-wrapper").hide();
    //        }
    //    });
    //}
    function notificationClick(nid, type) {
        debugger;
        $.ajax({
            url: '/ABNotification/NotificationUpdate',
            cache: false,
            data: {
                NotiId: nid,
                Status: 'read',
                NotiType: type,
                ByObj: true
            },
            success: function (response) {
                debugger;
                if (response == 'true' || response == true) {
                    $("#MsgTab span").animate({ height: '0px', width: '0px', opacity: '0.4' }, 2000, function () {
                        $("#MsgTab span").remove()
                    });
                    debugger;
                    $(".header-notify").load('@Url.Action("Notification","ABNotification")');
                }
            }
        });
    }
</script>
<script>
    $("#txtfile1").change(function () {
        readURL(this);
       
    });

    function readURL(input) {
        //debugger;
        $("#divFileUploader table tbody tr:eq(0)").show();
        for (var i = 0; i < input.files.length; i++) {
            var cln = $("#divFileUploader table tbody tr:eq(0)").clone(true);
            $(".upd-fl", cln).html(input.files[i].name);
            $("#divFileUploader table").append(cln);
        }
        $("#divFileUploader table tbody tr:eq(0)").hide();
    }

   function uploaddocument() {
            //debugger;


        var Bidamount = $("#txtAmount").val();
        var EstimateStardate = $("#pdate").val();
        var desc = $("#txtDescription").val();
        var formData = new FormData();
        $('#loader').show();
        var formData = new FormData();
        var totalFiles = document.getElementById("txtfile1").files.length;
        for (var i = 0; i < totalFiles; i++) {
            var file = document.getElementById("txtfile1").files[i];
            formData.append("Files", file);
        }
        formData.append("BidRequestKey", $("#HdnObjectKey").val());
        formData.append("Modulekey", 100);


        $.ajax({
            type: 'POST',
            datatype: 'json',
            url: '@Url.Action("UpdateDocUpload", "PMBidRequests")',
            data: formData,
            contentType: false,
            processData: false,
            success: function (respo) {
                if (respo == true) {
                    $('#loader').hide();
                    //window.location.href = 'VenderWorkorderView?BidVendorKey=' + $("#HdnObjectKey").val();
                    bindDocument();

                    $("#txtAmount").html(Bidamount);
                    $("#pdate").html(EstimateStardate);
                    $("#txtDescription").html(desc);

                }
                else {
                    $('#loader').hide();
                    //window.location.href = 'ViewBidrequest?BidVendorKey=' + $("#HdnObjectKey").val();
                    bindDocument();
                    $("#txtAmount").html(Bidamount);
                    $("#pdate").html(EstimateStardate);
                    $("#txtDescription").html(desc);

                }
                $("#btnModelClose").click();
                //e.preventDefault();

                $("#txtAmount").html(Bidamount);
                $("#pdate").html(EstimateStardate);
                $("#txtDescription").html(desc);
               


            },


        });

    }


    $("#pdate").change("click", function () {

        debugger;
        var today = new Date();



        var pp = new Date($("#pdate").val());
        if (pp <= today) {
            $('.errormessage').html('Estimated start date must be greater than current date.');
            $('#Error').show();
            $('#btnUpdateBid').prop('disabled', true);
            $("#EndDate").val("");
            $(window).scrollTop(0);
            //event.preventDefault();
            return false;
        }
        $('#btnUpdateBid').prop('disabled', false);
        $('#Error').hide();
        return true;

    }
    );
    function bindDocument() {
        //debugger;
        $("#global-loader").show();
        $.ajax({
            url: '@Url.Action("bindBidRequestDocument", "PMBidRequests")',
            cache: false,
            data:
            {
                BidRequestKey: $('#HdnObjectKey').val(),
                Modulekey: 100
            },
            success: function (response) {
                //debugger;
                $("#divFileUploader table tbody tr:not(:first)").remove();
                $("#divFileUploader table tbody tr:eq(0)").show();

                for (var i = 0; i < response.length; i++) {

                    //    var cln = $("#divFileUploader table tbody tr:eq(0)").clone(true);
                    //    $(".upd-fl", cln).html(response[i].FileName);
                    //    $("#divFileUploader table").append(cln);
                    var table = $("#divFileUploader table tbody tr:eq(0)").clone(true);
                    var datearray = response[i].split("BidRequestKeyTemp");
                    //debugger;
                    if (datearray.length > 1) {
                        var extension = datearray[1];
                        $(".upd-fl", table).attr('src', '"../Document/Properties/"' + $('#HdnObjectKey').val() + extension);
                        $(".upd-fl", table).attr('href', "../Document/Properties/" + $('#HdnObjectKey').val() + extension);
                        $(".upd-fl", table).attr('onclick', "download('../Document/Properties/" + $('#HdnObjectKey').val() + extension + "')");
                        $(".upd-fl", table).html(extension);
                    }
                    else {
                        //debugger;
                        var path = response[i].split($('#HdnObjectKey').val());
                        var name = response[i].split('/');
                        var filename = "";
                        if (path.length > 1)
                            filename = path[1]
                        else
                            filename = name[name.length - 1];
                        $(".upd-fl", table).attr('src',+ response[i]);
                        $(".upd-fl", table).attr('href', response[i]);
                        $(".upd-fl", table).attr('onclick', "download('"+ response[i] + "')");
                        $(".upd-fl", table).html(filename);
                    }
                    //if (extension === 'jpg' || extension === 'png' || extension === 'gif') {


                    //$(".upd-fl", table).attr('src', '"../ Document / Properties /"' + $('#BidRequestKey').val() + extension);
                    $("#divFileUploader table").append(table);
                }

                $("#divFileUploader table tbody tr:eq(0)").hide();
                var a = ($("#dataTableExample tr").length);

                if ($("#dataTableExample tr").length == 4) {
                    $('.errormessage').html('Data Is Not Found.');
                    $('#Error').hide();
                    $("#divFileUploader table thead tr:eq(0)").hide();
                    $("#divFileUploader table tbody tr:eq(0)").hide();
                }
                $("#global-loader").hide();
            },
            error: function () {
                $("#global-loader").hide();
            }
        });
    }
    function viewimage(imgsrc) {
        //debugger;
        $(".popback").show();
        $(".fullblack").show();
        $('#image').html("<img src='" + imgsrc + "' style= 'width:85%; margin-left:49px;margin-top:31px;' />");

    }

    function removeDoc(me) {

        var b = $(me).parent("td").parent("tr").find('.upd-fl').text();
        $("#dockey").val(b);
    }
    function DeleteDocument() {

        if ($(".upd-fl").text() == "") {
            $("#divFileUploader table tbody tr:eq(0)").hide();
        }
        else {
            var a = $("#HdnObjectKey").val();
            var b = $("#dockey").val();
            if (confirm('Are you sure you want to delete this record?')) {
                window.location.href = "DocumentDelete?BidRequestKey=" + a + "&Docname=" + b + "&ResourceKey=" + $("#HdnResourceKey").val() + "&BidStartDate=" + $("#HdnBidStartDate").val();
                return true;
            }
            else {
                return false;
            }


        }
    }
</script>

<!-- Daterangepicker js-->
<script src="../assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>

<!-- Datepicker js -->
<script src="../assets/plugins/spectrum-date-picker/spectrum.js"></script>
<script src="../assets/plugins/spectrum-date-picker/jquery-ui.js"></script>
<script src="../assets/plugins/input-mask/jquery.maskedinput.js"></script>

@*<link rel="stylesheet" href="../assets/css/cust-wizard.css">
    <script src="../assets/js/cust-wizard.js"></script>*@

<!--Select2 js -->
<script src="../assets/plugins/select2/select2.full.min.js"></script>
<script src="../assets/js/select2.js"></script>
<!--Select2 css -->
<link href="../assets/plugins/select2/select2.min.css" rel="stylesheet" />